{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}<title>{% trans "Qo'shish"%}</title>{% endblock %}

{% block links %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
{% endblock %}





{% block page_title %}
{% trans "Qo'shish"%}
{% endblock %}

{% block breadcrumb %}
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="{% url 'main:home' %}">{% trans 'Bosh sahifa'%}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'main:create_info' %}">{% trans "Bosh sahifa ma'lumotlari"%}</a></li>
      <li class="breadcrumb-item active">{% trans "Qo'shish"%}</li>
    </ol>
</div>
{% endblock %}


    <!-- Main content -->
    {% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-12 mx-auto" style="max-width: 96%">
            <!-- Input addon -->
            <div class="card mt-2">
              <div class="card-header" style="background-color: #0d8ccb">
                <h3 class="card-title">{% trans "Ma'lumot kiritish"%}</h3>
              </div>
              <div class="card-body">
                <form action="{% url 'main:create_info' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <label for="user_org">{% trans "Vakolatli tashkilot" %}</label>
                            {% if LANGUAGE_CODE == 'uz' %}
                            <input id="user_org" style="height:49px" class="form-control" type="text" value="{{ request.user.auth_organization.name_uz }}" disabled>
                            {% elif LANGUAGE_CODE == 'ru' %}
                            <input id="user_org" style="height:49px" class="form-control" type="text" value="{{ request.user.auth_organization.name_ru }}" disabled>
                            {% elif LANGUAGE_CODE == 'en' %}
                            <input id="user_org" style="height:49px" class="form-control" type="text" value="{{ request.user.auth_organization.name_en }}" disabled>
                            {% endif %}
                        </div>
                        <div class="col">
                            {{ form.organization | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.joined_date | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row hide_for border-top pt-3 mt-5 mb-3 text-bold">
                        {% if LANGUAGE_CODE == 'uz' %}
                        <h3><p class="org"></p> haqida qisqacha ma'lumot</h3>
                        {% elif LANGUAGE_CODE == 'ru' %}
                        <h3>Краткая информация об <p class="org"></p></h3>
                        {% elif LANGUAGE_CODE == 'en' %}
                        <h3><p class="org"></p> ҳақида қисқача маълумот</h3>
                        {% endif %}
                    </div>
                    <div class="row hide_for">
                        <div class="col">
                            {{ form.img | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.description_uz | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.description_ru | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.description_en | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row border-top pt-3 mt-5 mb-3 text-bold hide_for">

                        {% if LANGUAGE_CODE == 'uz' %}
                        <h3><p class="org"></p> filialining O'zbekistondagi manzili va telefon raqami</h3>
                        {% elif LANGUAGE_CODE == 'ru' %}
                        <h3>Адрес и телефон филиала <p class="org"></p> в Узбекистане. </h3>
                        {% elif LANGUAGE_CODE == 'en' %}
                        <h3><p class="org"></p> филиалининг Ўзбекистондаги манзили ва телефон рақами</h3>
                        {% endif %}
                    </div>
                    <div class="row hide_for">
                        <div class="col">
                            {{ form.inter_org_tel | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.inter_org_address_ru | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.inter_org_address_uz | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.inter_org_address_en | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row border-top pt-3 mt-5 mb-3 text-bold hide_for">
                        {% if LANGUAGE_CODE == 'uz' %}
                        <h3>Yil davomida <p class="org"></p> faoliyati doirasida O'zbekistonda o'tkaziladigan tadbir haqida ma'lumot</h3>
                        {% elif LANGUAGE_CODE == 'ru' %}
                        <h3>Информация о мероприятиях, проводимых в Узбекистане в течение года в рамках деятельности <p class="org"></p></h3>
                        {% elif LANGUAGE_CODE == 'en' %}
                        <h3>Йил давомида <p class="org"></p> фаолияти доирасида Ўзбекистонда ўтказиладиган тадбир ҳақида маълумот</h3>
                        {% endif %}
                    </div>
                    <div class="row hide_for">
                        <div class="col">
                            {{ form.meeting_date | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.meeting_text_uz | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.meeting_text_ru | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.meeting_text_en | as_crispy_field }}
                        </div>
                    </div>

                    <div class="row justify-content-end mt-3">
                        <button type="submit" class="btn-lg btn-info mr-2">{% trans 'Saqlash'%}</button>
                    </div>
                </form>


              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}


{% block script %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- bs-custom-file-input -->
<script src="{% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- Page specific script -->
<script>
$(function () {
  bsCustomFileInput.init();
});
</script>
<script src="{% static 'imask/http_unpkg.com_imask.js' %}"></script>
<script>
    $(".hide_for").hide();
    let organization = $("#id_organization");

    console.log(organization)

    organization.on('change', function (){
        $(".hide_for").show()
        $(".org").text(String(organization.find(":selected").text()) + " ")
    })

</script>

{% endblock %}

