{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}<title>{% trans 'Delete organizations'%}</title>{% endblock %}

{% block links %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
{% endblock %}





{% block page_title %}
{% trans "O'chirish"%}
{% endblock %}

{% block breadcrumb %}
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="{% url 'main:home' %}">{% trans 'Bosh sahifa'%}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'main:main_info' %}">{% trans "Bosh sahifa ma'lumotlari" %}</a></li>
      <li class="breadcrumb-item active">{% trans "O'chirish"%}</li>
    </ol>
</div>
{% endblock %}


    <!-- Main content -->
    {% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-12 mx-auto" style="width: 96%">
            <!-- Input addon -->
            <div class="card mt-2">
              <div class="card-header" style="background-color: #0d8ccb">
                <h3 class="card-title">{% trans "O'chirish"%}</h3>
              </div>
              <div class="card-body">

                <form action="{% url 'main:delete_info' id %}" method="post">
                    {% csrf_token %}
                    <table id="example1" class="table table-hover text-center">
                      <thead>
                      <tr>
                        <th>{% trans "T/r" %}</th>
                        <th>{% trans 'Xalqaro tashkilot'%}</th>
                        <th>{% trans 'Sharh'%}</th>
                        <th>{% trans 'Manzil'%}</th>
                        <th>{% trans "Tadbir haqida ma'lumot"%}</th>
                        <th>{% trans "Xalqaro tashkilotga a'zo bo'lgan sanasi"%}</th>
                        <th>{% trans 'Tadbir sanasi'%}</th>
                        <th>{% trans "Telefon raqam" %}</th>
                        <th>{% trans "Foto" %}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>{{ o.id }}</td>
                        {% if LANGUAGE_CODE == 'uz' %}
                        <td>{{ o.organization.name_uz }}</td>
                        <td>{{ o.description_uz }}</td>
                        <td>{{ o.inter_org_address_uz }}</td>
                        <td>{{ o.meeting_text_uz }}</td>

                        {% elif LANGUAGE_CODE == 'ru' %}
                        <td>{{ o.organization.name_ru }}</td>
                        <td>{{ o.description_ru }}</td>
                        <td>{{ o.inter_org_address_ru }}</td>
                        <td>{{ o.meeting_text_ru }}</td>

                        {% elif LANGUAGE_CODE == 'en' %}
                        <td>{{ o.organization.name_en }}</td>
                        <td>{{ o.description_en }}</td>
                        <td>{{ o.inter_org_address_en }}</td>
                        <td>{{ o.meeting_text_en }}</td>

                        {% endif %}
                        <td>{{ o.joined_date }}</td>
                        <td>{{ o.meeting_date }}</td>
                        <td>{{ o.inter_org_tel }}</td>
                        <td>
                            {% if o.img %}
                                <a href="{{ o.img.url }}"><img style="width: 3rem; height: 2.5rem" src="{{ o.img.url }}" alt="img"></a>

                            {% else %}
                            Mavjud emas
                            {% endif %}
                        </td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="row ml-2 mt-3">
                        <button id="delete_btn" type="submit" class="btn-lg  btn-danger" onclick="return confirm('Buyruqni tasdiqlaysizmi?')"><i class="fas fa-trash"></i></button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
{% block script %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- bs-custom-file-input -->
<script src="{% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- Page specific script -->
{% endblock %}

