{% extends 'index.html'%}
{% load static %}
{% load i18n %}
{% load main_tags %}



{% block title %}

{% endblock %}


{% block links %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">

<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
<!-- Ionicons -->
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<!-- Tempusdominus Bootstrap 4 -->
<link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
<!-- iCheck -->
<link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
<!-- JQVMap -->
<link rel="stylesheet" href="{% static 'plugins/jqvmap/jqvmap.min.css' %}">
<!-- Theme style -->
<link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
<link rel="stylesheet" href="{% static 'dist/css/adminlte.css' %}">
<!-- overlayScrollbars -->
<link rel="stylesheet" href="{% static 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
<!-- Daterange picker -->
<link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
<!-- summernote -->
<link rel="stylesheet" href="{% static 'plugins/summernote/summernote-bs4.min.css' %}">
  <!-- DataTables -->
<link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
{% endblock %}
{% block page_title %}

{% endblock %}



{% block content %}
<style>
    #div_id_logos {
        height: 10rem;
        overflow: hidden;
        position: relative;
        {#background-color: white;#}
        margin-top: -50%;
        width: 101.8%;
        {#height: 10%;#}
        margin-left: -1%;
        {#scroll-margin-block: unset;#}
    }
    #div_id_logos > div {
        position: absolute;
        width: 850%; !important;
        height: 100%;
        padding: 1rem;
        margin: .25rem .25rem;
        {#line-height: 5rem;#}
        align-items: center;
        /* Starting position */
        transform:translateX(100%);
        scroll-behavior: smooth;
        /* Apply animation to this element */
        animation: logos 358s linear infinite;
    }
     #div_id_logos > div a {
         margin: .5rem;

     }
    /* Move it (define the animation) */
    @keyframes logos {
        0%   {
           transform: translateX(0);
         }
        100% {
           transform: translateX(-66.6666%);
        }
    }

    .table td {
        vertical-align: baseline; !important;
    }
</style>

<section class="content" style="padding-top: 50%;background: url('{% static "images/in.png" %}') no-repeat top;">
      <div class="container-fluid" style="z-index: 100">

        <div class="row">
          <div class="col-12">
              <div id="div_id_logos">
                  <div class="mt-n4">
                      <a href="https://www.interpol.int/"><img style="width: 100px; height: 100px;" class="mx-2" src="{% static 'images/inter_orgs_logos/interpol.png' %}" alt="interpol"></a>
                      <a href="https://egmontgroup.org/en"><img style="width: 100px; height: 100px;" class="mx-2 bg-navy px-2" src="{% static 'images/inter_orgs_logos/logo.svg' %}" alt="egmont"></a>
                      <a href="https://www.adb.org/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/adb.jpg' %}" alt="adb"></a>
                      <a href="https://www.ebrd.com/"><img style="width: 120px; height: 136px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/european-bank.png' %}" alt="eurobank"></a>
                      <a href="https://www.worldbank.org/"><img style="width: 145px; height: 80px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/WorldBank.png' %}" alt="worldbank"></a>
                      <a href="https://www.aiib.org"><img style="width: 200px; height: 160px;"  class="mx-n5" src="{% static 'images/inter_orgs_logos/aiib.png' %}" alt=aiib"></a>
                      <a href="https://www.un.org/en/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/uno.png' %}" alt="uno"></a>
                      <a href="https://iacis.ru/iacis-eng"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/Emblem_of_CIS.png' %}" alt="cis"></a>
                      <a href="https://www.oscepa.org/"><img style="width: 195px; height: 65px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/oscepa.png' %}" alt="oscepa"></a>
                      <a href="https://www.venice.coe.int/WebForms/pages/?p=02_WCCJ"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/wccj.png' %}" alt="wccj"></a>
                      <a href="http://www.skpw.ru/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/skwp.png' %}" alt="skpw"></a>
                      <a href="https://www.eng.cisatc.org/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/cisatc.png' %}" alt="cisatc"></a>
                      <a href="https://eurasiangroup.org/en"><img style="width: 130px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/eag.svg' %}" alt="eag"></a>
                      <a href="https://icdt-cidc.org/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/LOGO-ICDT-Large.png' %}" alt="icdt"></a>
                      <a href="http://www.iciec.org/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/iciec.png' %}" alt="iciec"></a>
                      <a href="https://www.itfc-idb.org/en"><img style="width: 140px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/ITFC.png' %}" alt="itfc"></a>
                      <a href="https://icd-ps.org/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/icd.jpg' %}" alt="icd"></a>
                      <a href="https://www.unido.org"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/unido.png' %}" alt="unido"></a>
                      <a href="http://www.eco.int/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/economic_cooperation.svg' %}" alt="eco"></a>
                      <a href="https://www.sesric.org/"><img style="width: 100px; height: 100px;"  class="mx-1" src="{% static 'images/inter_orgs_logos/sesric.png' %}" alt=""></a>
                      <a href="https://www.iaisweb.org/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/IAIS.png' %}" alt="iais"></a>
                      <a href="https://www.irena.org/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/irena.png' %}" alt="irena"></a>
                      <a href="https://thecommonwealth.org/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/commonwealth.png' %}" alt="commonwealth"></a>
                      <a href="http://eng.sectsco.org/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/shxt.png' %}" alt="shxt"></a>
                      <a href="https://www.s-cica.org/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/cica.png' %}" alt="cica"></a>
                      <a href="https://www.hcch.net/"><img style="width: 150px; height: 100px;"  class="" src="{% static 'images/inter_orgs_logos/hcch.png' %}" alt="hcch"></a>
                      <a href="https://www.turkkon.org/"><img style="width: 300px; height: 100px;"  class="mx-n2" src="{% static 'images/inter_orgs_logos/turkiy_council.png' %}" alt="turkiy tilli"></a>
                      <a href="https://www.oic-oci.org/"><img style="width: 160px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/oic.png' %}" alt="oic"></a>
                      <a href="https://www.osce.org/"><img style="width: 160px; height: 100px;"  class="mx-n3" src="{% static 'images/inter_orgs_logos/osce.png' %}" alt="osce"></a>
                      <a href="https://www.comstech.org/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/comstech.png' %}" alt="comstech"></a>
                      <a href="https://www.ilo.org/"><img style="width: 120px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/ilo.png' %}" alt="ilo"></a>
                      <a href="https://www.iom.int/"><img style="width: 230px; height: 120px;"  class="" src="{% static 'images/inter_orgs_logos/iom.png' %}" alt="iom"></a>
                      <a href="http://www.fao.org/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/fao.png' %}" alt="fao"></a>
                      <a href="https://www.ifad.org/"><img style="width: 180px; height: 100px;"  class="" src="{% static 'images/inter_orgs_logos/ifad.png' %}" alt="ifad"></a>
                      <a href="https://icac.org/"><img style="width: 110px; height: 100px;"  class="mx-1" src="{% static 'images/inter_orgs_logos/icac.png' %}" alt="icac"></a>
                      <a href="https://inwrdam.org.jo/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/inwdram.png' %}" alt="inwdram"></a>
                      <a href="https://icid-ciid.org/"><img style="width: 100px; height: 110px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/icid.png' %}" alt="icid"></a>
                      <a href="https://www.worldwatercouncil.org/"><img style="width: 200px; height: 120px;"  class="" src="{% static 'images/inter_orgs_logos/worldwatercouncil.png' %}" alt="wwcouncil"></a>
                      <a href="https://www.icold-cigb.org/"><img style="width: 100px; height: 100px;"  class="" src="{% static 'images/inter_orgs_logos/gigb-icold.png' %}" alt="gigb-icold"></a>
                      <a href="https://www.who.int/"><img style="width: 150px; height: 150px;"  class="" src="{% static 'images/inter_orgs_logos/who.png' %}" alt="who"></a>
                      <a href="https://fctc.who.int/"><img style="width: 180px; height: 90px;"  class="" src="{% static 'images/inter_orgs_logos/fctc.png' %}" alt="fctc"></a>
                      <a href="https://www.ifrc.org/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/ifrc.png' %}" alt="ifrc"></a>
                      <a href="http://www.mfgs-sng.org/"><img style="width: 100px; height: 100px;"  class="" src="{% static 'images/inter_orgs_logos/ifescco.png' %}" alt="ifescco"></a>
                      <a href="https://www.oie.int/"><img style="width: 180px; height: 180px;"  class="" src="{% static 'images/inter_orgs_logos/oie.png' %}" alt="oie"></a>
                      <a href="https://www.unccd.int/"><img style="width: 180px; height: 140px;"  class="" src="{% static 'images/inter_orgs_logos/unccd.png' %}" alt="unccd"></a>
                      <a href="https://www.iaea.org/"><img style="width: 150px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/iaea.png' %}" alt="iaea"></a>
                      <a href="https://www.opcw.org/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/opcw.png' %}" alt="opcw"></a>
                      <a href="https://www.nti.org/learn/treaties-and-regimes/convention-prohibition-development-production-and-stockpiling-bacteriological-biological-and-toxin-weapons-btwc/"><img style="width: 200px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/nti.png' %}" alt="nti"></a>
                      <a href="http://www.cisstat.com/"><img style="width: 180px; height: 100px;"  class="mx-1" src="{% static 'images/inter_orgs_logos/cisstat.png' %}" alt="cisstat"></a>
                      <a href="https://www.cbd.int/"><img style="width: 210px; height: 100px;"  class="" src="{% static 'images/inter_orgs_logos/cbd.png' %}" alt="cbd"></a>
                      <a href="https://ozone.unep.org/treaties/vienna-convention"><img style="width: 200px; height: 100px;"  class="" src="{% static 'images/inter_orgs_logos/un_ozon.png' %}" alt="un_oon"></a>
                      <a href="https://isfd.isdb.org/EN/Pages/default.aspx"><img style="width: 150px; height: 150px;"  class="mx-n3" src="{% static 'images/inter_orgs_logos/isfd.png' %}" alt="isfd"></a>
                      <a href="https://www.iifa-aifi.org/en"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/iifa.png' %}" alt="iifa"></a>
                      <a href="http://www.aweb.org/"><img style="width: 200px; height: 100px;"  class="mx-2   " src="{% static 'images/inter_orgs_logos/aweb.png' %}" alt="aweb"></a>
                      <a href="https://www.ctbto.org/"><img style="width: 140px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/CTBTO.png' %}" alt="ctbto"></a>
                      <a href="https://www.wada-ama.org/"><img style="width: 200px; height: 100px;"  class="" src="{% static 'images/inter_orgs_logos/wada.png' %}" alt="wada"></a>
                      <a href="https://www.icao.int/"><img style="width: 120px; height: 120px;"  class="" src="{% static 'images/inter_orgs_logos/icao.png' %}" alt="icao"></a>
                      <a href="https://mak-iac.org/en/"><img style="width: 170px; height: 120px;"  class="" src="{% static 'images/inter_orgs_logos/mac-iac.png' %}" alt="mac-iac"></a>
                      <a href="https://www.environment.gov.za/projectsprogrammes/donorfunded/unfccc"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/unfccco.png' %}" alt=""></a>
                      <a href="https://public.wmo.int"><img style="width: 220px; height: 160px;"  class="" src="{% static 'images/inter_orgs_logos/wmo.png' %}" alt="wmo"></a>
                      <a href="https://www.ircica.org/en"><img style="width: 100px; height: 100px;"  class="mx-n2" src="{% static 'images/inter_orgs_logos/ircica.png' %}" alt="ircica"></a>
                      <a href="https://en.unesco.org/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/unesco.png' %}" alt="unesco"></a>
                      <a href="https://whc.unesco.org/en/world-heritage-fund/"><img style="width: 100px; height: 100px;"  class="" src="{% static 'images/inter_orgs_logos/whc.png' %}" alt="whc"></a>
                      <a href="https://ich.unesco.org/en/intangible-cultural-heritage-fund-00816"><img style="width: 200px; height: 110px;"  class="" src="{% static 'images/inter_orgs_logos/ich.png' %}" alt="ich"></a>
                      <a href="https://www.icesco.org/en/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/isesco.png' %}" alt="isesco"></a>
                      <a href=""><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/fuiw-logo.png' %}" alt="fuiw"></a>
                      <a href="https://www.iutoic-dhaka.edu/"><img style="width: 76px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/iut.png' %}" alt="iut"></a>
                      <a href="https://www.iosco.org/"><img style="width: 190px; height: 140px;"  class="mx-n3 pb-2" src="{% static 'images/inter_orgs_logos/iosco.png' %}" alt="iosco"></a>
                      <a href="http://aacc-asia.org/"><img style="width: 100px; height: 100px;"  class="" src="{% static 'images/inter_orgs_logos/aacc.png' %}" alt="aacc"></a>
                      <a href="https://www.milsport.one/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/cism.png' %}" alt="cism"></a>
                      <a href="https://www.iap-association.org/"><img style="width: 150px; height: 100px;"  class="mx-n2" src="{% static 'images/inter_orgs_logos/iap.png' %}" alt="iap"></a>
                      <a href="https://www.itu.int/en/Pages/default.aspx"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/itu.png' %}" alt="itu"></a>
                      <a href="https://www.upu.int/"><img style="width: 120px; height: 120px;"  class="mx-n3" src="{% static 'images/inter_orgs_logos/upu.png' %}" alt="upu"></a>
                      <a href="https://en.rcc.org.ru/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/rcc.jpg' %}" alt="rcc"></a>
                      <a href="https://www.etsi.org/"><img style="width: 180px; height: 150px;"  class="" src="{% static 'images/inter_orgs_logos/etsi.png' %}" alt="etsi"></a>
                      <a href="https://www.energycharter.org/"><img style="width: 150px; height: 140px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/energycharter.svg' %}" alt="energycharter"></a>
                      <a href="https://www.apctt.org/"><img style="width: 140px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/escap.png' %}" alt="escap"></a>
                      <a href="https://www.fai.org/"><img style="width: 90px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/fai.png' %}" alt="fai"></a>
                      <a href="https://www.biathlonworld.com/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/ibu.png' %}" alt="ibu"></a>
                      <a href="https://www.bie-paris.org/site/en/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/bie.png' %}" alt="bie"></a>
                      <a href="http://bae.rsl.ru/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/bae.png' %}" alt="bae"></a>
                      <a href="https://www.ifla.org/"><img style="width: 200px; height: 130px;"  class="" src="{% static 'images/inter_orgs_logos/ifla.png' %}" alt="ifla"></a>
                      <a href="https://www.isbn-international.org/"><img style="width: 180px; height: 100px;"  class="" src="{% static 'images/inter_orgs_logos/isbn.png' %}" alt="isbn"></a>
                      <a href="https://www.issn.org/"><img style="width: 140px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/issn.png' %}" alt="issn"></a>
                      <a href="https://www.eifl.net/"><img style="width: 100px; height: 80px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/iefl.png' %}" alt="iefl"></a>
                      <a href="http://eng.asmetro.ru/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/ima.png' %}" alt="ima"></a>
                      <a href="https://www.uitp.org/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/iutp.svg' %}" alt="iutp"></a>
                      <a href="https://uic.org/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/uic.png' %}" alt="uic"></a>
                      <a href="http://www.jinr.ru/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/jinr.png' %}" alt="jinr"></a>
                      <a href="https://www.ippc.int/"><img style="width: 180px; height: 120px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/ippc.png' %}" alt="ippc"></a>
                      <a href="https://www.eppo.int/"><img style="width: 100px; height: 100px;"  class="mx-2" src="{% static 'images/inter_orgs_logos/eppo.png' %}" alt="eppo"></a>
                      <a href="https://www.isbnk.org/"><img style="width: 400px; height:100px;"  class="" src="{% static 'images/inter_orgs_logos/isbnk.png' %}" alt="isbnk"></a>
                  </div>
              </div>
              <div class="row" style="font-size: .8rem; line-height: 1rem;">
                  <div class="col-2">
                      <div class="card" style="font-size: .8rem; line-height: 1rem;">
                          <div class="card-header bg-gradient-blue">
                            <div class="row text-center">
                                <div class="col mx-auto">
                                    <h3 class="card-title float-none">{% trans "Markaziy bank" %}<a href="https://cbu.uz/"><img src="{% static 'images/cbuz.png' %}" style="width: 23px; height: 23px; margin-left: .6rem;" alt="cb"></a></h3>
                                </div>
                            </div>
                          </div>
                          <div class="card-body">
                              {% if central_bank %}
                                {% for datum in central_bank %}
                                  <div class="row w-100 align-items-center">
                                      <div class="col-1 mr-auto">
                                          {% if datum.Ccy == "USD" %}
                                          <img style="width: 40px; height: 40px;" src="{% static 'images/flags/united-states.png' %}" alt="usd">
                                          {% elif datum.Ccy == "EUR" %}
                                          <img style="width: 40px; height: 40px;" src="{% static 'images/flags/european-union.png' %}" alt="eur">
                                          {% elif datum.Ccy == "RUB" %}
                                          <img style="width: 40px; height: 40px;" src="{% static 'images/flags/russia.png' %}" alt="rus">
                                          {% elif datum.Ccy == "CAD" %}
                                          <img style="width: 40px; height: 40px;" src="{% static 'images/flags/canada.png' %}" alt="cad">
                                          {% elif datum.Ccy == "CHF" %}
                                          <img style="width: 40px; height: 40px;" src="{% static 'images/flags/switzerland.png' %}" alt="chf">
                                          {% endif %}
                                      </div>
                                      <div class="col-8 ml-4">
                                          <p class="mt-3" style="font-size: 1rem">{{ datum.Ccy }} = {{ datum.Rate }}</p>
                                          <p style="font-size: 0.9rem" class="mt-n3 {% if datum.Diff > 0 %}text-success{% elif datum.Diff < 0 %}text-danger{% endif %}">{{ datum.Diff }}</p>
                                      </div>
                                      <div class="col-1">
                                          {% if datum.Diff > 0 %}
                                          <i class="fas fa-angle-double-up text-success"></i>
                                          {% elif datum.Diff < 0 %}
                                          <i class="fas fa-angle-double-down text-danger"></i>
                                          {% elif datum.Diff == 0 %}
                                          -
                                          {% endif %}
                                      </div>
                                  </div>
                              {% endfor %}
                              {% else %}
                                  Ma'lumot maavjud emas.
                              {% endif %}
                          </div>
                          <div class="card-footer justify-content-end text-right text-bold">
                              {% if LANGUAGE_CODE == 'uz' %}
                              <i>{{ today }} ga ko'ra.</i>
                              {% elif LANGUAGE_CODE == 'ru' %}
                              <i>По данным {{ today }}</i>
                              {% elif LANGUAGE_CODE == 'en' %}
                              <i>{{ today }} га ко'ра</i>
                              {% endif %}
                          </div>
                      </div>
                      <div class="card" style="font-size: .8rem; line-height: 1rem; height: 30%">
                          <div  class="card-header bg-gradient-blue">
                            <div class="row text-center">
                                <div class="col">
                                    <h3 class="card-title float-none">UZCE<a href="https://www.uzrvb.uz/"><img src="{% static 'images/birja.png' %}" style="width: 40px; height: 16px; margin-left: 1.5rem" alt="birja"></a></h3>

                                </div>
                            </div>
                          </div>
                          <div class="card-body">
                              {% if birja_usd and birja_eur %}
                              <div class="col">
                                <div class="row mb-2">
                                  <div class="col-1 mr-auto">
                                      <img style="width: 40px; height: 40px;" src="{% static 'images/flags/united-states.png' %}" alt="usd">
                                  </div>
                                  <div class="col-8 ml-4">
                                      <p class="mt-1" style="font-size: 1rem"> USD = {{ birja_usd.OfficialPrice }}</p>
                                      <p style="font-size: .9rem" class="mt-n3 {% if birja_usd.Diff > 0 %}text-success{% elif birja_usd.Diff < 0 %}text-danger{% endif %}">{{ birja_usd.Diff }}</p>
                                  </div>
                                  <div class="col-1 ml-auto">
                                      {% if birja_usd.Diff > 0 %}
                                      <i class="fas fa-angle-double-up text-success"></i>
                                      {% elif birja_usd.Diff < 0 %}
                                      <i class="fas fa-angle-double-down text-danger"></i>
                                      {% elif birja_usd.Diff == 0 %}
                                      -
                                      {% endif %}
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-1 mr-auto">
                                      <img style="width: 40px; height: 40px" src="{% static 'images/flags/european-union.png' %}" alt="usd">
                                  </div>
                                  <div class="col-8 ml-4">
                                      <p class="mt-1" style="font-size: 1rem"> EUR = {{ birja_eur.OfficialPrice }}</p>
                                      <p style="font-size: .9rem" class="mt-n3 {% if birja_eur.Diff > 0 %}text-success{% elif birja_eur.Diff < 0 %}text-danger{% endif %}">{{ birja_eur.Diff }}</p>
                                  </div>
                                  <div class="col-1 ml-auto">
                                      {% if birja_eur.Diff > 0 %}
                                      <i class="fas fa-angle-double-up text-success"></i>
                                      {% elif birja_eur.Diff < 0 %}
                                      <i class="fas fa-angle-double-down text-danger"></i>
                                      {% elif birja_eur.Diff == 0 %}
                                      -
                                      {% endif %}
                                  </div>
                                </div>


                              </div>
                              {% else %}
                                  Ma'lumot mavjud emas.
                              {% endif %}
                          </div>
                          <div class="card-footer justify-content-end text-right text-bold">
                              {% if LANGUAGE_CODE == 'uz' %}
                              <i>{{ birja_usd.Time | slice:":16" }} ga ko'ra.</i>
                              {% elif LANGUAGE_CODE == 'ru' %}
                              <i>По данным {{ birja_usd.Time | slice:":16" }}</i>
                              {% elif LANGUAGE_CODE == 'en' %}
                              <i>{{ birja_usd.Time | slice:":16" }} га ко'ра</i>
                              {% endif %}
                          </div>
                      </div>
                  </div>
{#                  <div class="col-1"></div>#}
                  <div class="col-9 mx-auto">
                      <div class="card h-75">
                          <div class="card-header bg-gradient-blue">
                            <div class="row text-center">
                                <div class="col mx-auto">
                                    <h3 class="card-title float-none">
                                        {% if LANGUAGE_CODE == 'uz' %}
                                            {{ info.organization.inter_organization.name_uz }}
                                        {% elif LANGUAGE_CODE == 'ru' %}
                                            {{ info.organization.inter_organization.name_ru }}
                                        {% elif LANGUAGE_CODE == 'en' %}
                                            {{ info.organization.inter_organization.name_en }}
                                        {% endif %}
                                        <i class="fas fa-"></i>
                                    </h3>
                                </div>
                            </div>
                          </div>
                          <div class="card-body">
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-6">
                                        <img style="width: 560px; height: 400px;"  class="pl-2" src="{% media_root  info.img.url %}" alt="none-image">
                                    </div>
                                    <div class="col-6 pr-4">
                                        <div class="row">
                                            <h4 class="text-center" style="font-size: 1.5rem">
                                                {% if LANGUAGE_CODE == 'uz' %}
                                                    O'zbekiston Respublikasi {{ info.organization.inter_organization.name_uz }} tashkilotiga {{ info.joined_date }}da a'zo bo'lgan.
                                                {% elif LANGUAGE_CODE == 'ru' %}
                                                    Республика Узбекистан стала членом {{ info.organization.inter_organization.name_ru }} {{ info.joined_date }}.
                                                {% elif LANGUAGE_CODE == 'en' %}
                                                    Ўзбекистон Республикаси {{ info.organization.inter_organization.name_en }} ташкилотига {{ info.joined_date.year }}-йил, {{ info.joined_date.day }}-{% month_in_cyrillic info.joined_date.month %}да аъзо бўлган.
                                                {% endif %}
                                            </h4>
                                        </div>
                                        <div class="row my-2 mr-2" style="height: 70%">
                                            <div class="col-12 mx-auto">
                                                <p>{{ info.description_uz | truncatewords:"120" }}</p>
                                            </div>
                                        </div>
                                        <div class="row bg-gray-light p-2 bottom" style="border-radius: 15px; height: 20%;">
                                            <div class="col-8">
                                                <p class="m-0 p-0">
                                                    {% if LANGUAGE_CODE == 'uz' %}
                                                        {{ info.meeting_text_uz | truncatewords:"40" }}
                                                    {% elif LANGUAGE_CODE == 'ru' %}
                                                        {{ info.meeting_text_ru | truncatewords:"40" }}
                                                    {% elif LANGUAGE_CODE == 'en' %}
                                                        {{ info.meeting_text_ru | truncatewords:"40" }}
                                                    {% endif %}
                                                </p>
                                                <p class="p-0 m-0 mt-2" style="bottom: 0;">
                                                    <strong>{% trans "Sana" %}:</strong>
                                                    {% if LANGUAGE_CODE == 'en' %}
                                                        {{ info.meeting_date.day }}-{% month_in_cyrillic info.meeting_date.month %} {{ info.meeting_date.year }}
                                                    {% else %}
                                                        {{ info.meeting_date }}
                                                    {% endif %}
                                                </p>
                                            </div>
                                            <div class="col-4">
                                                {% if info.address_uz == "Mavjud emas" %}
                                                    Mavjud emas.
                                                {% elif info.address_uz != "Mavjud emas" %}
                                                <p class="text-center p-0 mb-1">{% trans "Tashkilotning O'zbekistondagi vakolatxonasi" %}</p>
                                                <p class="p-0 m-0"><strong>{% trans "Manzil" %}:</strong>
                                                    {% if LANGUAGE_CODE == 'uz' %}
                                                        {{ info.inter_org_address_uz }}
                                                    {% elif LANGUAGE_CODE == 'ru' %}
                                                        {{ info.inter_org_address_uz }}
                                                    {% elif LANGUAGE_CODE == 'en' %}
                                                        {{ info.inter_org_address_uz }}
                                                    {% endif %}
                                                </p>
                                                <p class="p-0 m-0"><strong style="width: 4rem; display: inline-block">{% trans "Telefon raqam" %}:</strong>{{ info.inter_org_tel }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                          </div>
                      </div>
                      <div class="row w-100" style="margin-left: 0.1rem; background: rgba(255, 255, 255, 0.7); height: 7.68rem; border-radius: .6rem; margin-top: 1.2rem">
                          <div class="col text-center my-auto mt-3"><h2>{% trans "Xalqaro tashkilotlarga a'zolik badallari to'lovlarini amalga oshirish bo'yicha me'yoriy huquqiy hujjat" %}<a href="https://lex.uz/docs/-4866227" class="ml-5"><i class="far text-gray-dark fa-file-alt"></i></a></h2></div>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
</section>
{% endblock %}

{% block footer %}
  <footer class="main-footer bg-gray-dark">
  <div class="row mt-3  justify-content-around align-items-center">
      <div class="col-1 ml-auto">
           <img src="{% static 'images/fees.png' %}" class="ml-sm-3" style="width: 6.7rem; height: 6.7rem;" alt="logo"/>
      </div>
      <div class="col-2">
         <p class="w-50 mx-auto" style="font-size: 1rem">{% trans "O'zbekiston Republikasining xalqaro tashkilotlarga a'zolik badallari" %}</p>
      </div>
      <div class="col-1 mx-auto">
          <h5 class="mb-4">{% trans "Aloqa" %}</h5>
          <div style="font-size: .8rem">
              <p>{% trans "Telefon raqam" %}: <a href="tel:+998712020712">+998712020712</a></p>
              <p>{% trans "Elektron pochta" %}: <a href="mailto:itcinfo@mf.uz">itcinfo@mf.uz</a></p>
          </div>
      </div>
      <div class="col-3 mx-auto" style="font-size: .9rem">
          <img src="{% static 'images/minfin.png' %}" alt="minfin" class="ml-5">
          <p class="my-3 w-75"  >© 2021 {% trans "O'zbekiston Respublikasi Moliya vazirligi." %}</p>
          <p class="w-75">{% trans "Tizimini ishlab chiqish va qo'llab-quvvatlash Moliya vazirligi AHM tomonidan amalga oshiriladi." %}</p>
      </div>
      <div class="col-4">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2996.63933908929!2d69.26952481585901!3d41.31670897927079!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b3b13fc7545%3A0x101f6b6d7b32fb0f!2sTreasury%20of%20the%20Republic%20of%20Uzbekistan!5e0!3m2!1sen!2s!4v1634732160749!5m2!1sen!2s" width="400" height="250" style="border:0; border-radius: .6rem" allowfullscreen="" loading="lazy"></iframe>
      </div>                                                                                   {# longtitude        latitude#}
  </div>
  </footer>
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- ChartJS -->
<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
<!-- Sparkline -->
<script src="{% static 'plugins/sparklines/sparkline.js' %}"></script>
<!-- JQVMap -->
<script src="{% static 'plugins/jqvmap/jquery.vmap.min.js' %}"></script>
<script src="{% static 'plugins/jqvmap/maps/jquery.vmap.usa.js' %}"></script>
<!-- jQuery Knob Chart -->
<script src="{% static 'plugins/jquery-knob/jquery.knob.min.js' %}"></script>
<!-- daterangepicker -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<!-- Summernote -->
<script src="{% static 'plugins/summernote/summernote-bs4.min.js' %}"></script>
<!-- overlayScrollbars -->
<script src="{% static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{% static 'dist/js/pages/dashboard.js' %}"></script>
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script>

</script>
<script></script>
{% endblock %}
