{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% load main_tags %}

{% block title %}<title>{% trans 'Information'%}</title>{% endblock %}

  {% block links %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  {% endblock %}

{% block page_title %}
{% trans "Bosh sahifa ma'lumotlari"%}
{% endblock %}
  {% block breadcrumb %}
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="{% url 'main:home' %}">{% trans 'Bosh sahifa'%}</a></li>
      <li class="breadcrumb-item active">{% trans "Bosh sahifa ma'lumotlari"%}</li>
    </ol>
  </div>
  {% endblock %}


    <!-- Main content -->
    {% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row mt-2">
          <div class="col-12">
            <div class="card">
              <div class="card-header" style="background-color: #0d8ccb">
                <h3 class="card-title text-white">{% trans "Bosh sahifa ma'lumotlari"%}</h3>
              </div>
              <div class="card-body">
                <table id="example1" class="table table-hover text-center" style="border-bottom: solid #dee2e6 1px;">
                  <thead>
                  <tr>
                    <th>{% trans "T/r" %}</th>
                    <th>{% trans 'Xalqaro tashkilot'%}</th>
                    <th>{% trans 'Sharh'%}</th>
                    <th>{% trans 'Manzil'%}</th>
                    <th>{% trans "Tadbir haqida ma'lumot"%}</th>
                    <th>{% trans "Xalqaro tashkilotga a'zo bo'lgan sanasi"%}</th>
                    <th>{% trans 'Tadbir sanasi'%}</th>
                      <th>{% trans "Telefon raqam" %}</th>
                    <th>{% trans "Foto" %}</th>
                      <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for o in object_list %}
                  <tr>
                    <td>{{ o.id }}</td>
                    {% if LANGUAGE_CODE == 'uz' %}
                    <td>{{ o.organization.inter_organization.name_uz }}</td>
                    <td>{{ o.description_uz | truncatechars:"100" }}</td>
                    <td>{{ o.inter_org_address_uz }}</td>
                    <td>{{ o.meeting_text_uz | truncatechars:"50" }}</td>

                    {% elif LANGUAGE_CODE == 'ru' %}
                    <td>{{ o.organization.inter_organization.name_ru }}</td>
                    <td>{{ o.description_ru | truncatechars:"100" }}</td>
                    <td>{{ o.inter_org_address_ru }}</td>
                    <td>{{ o.meeting_text_ru | truncatechars:"70" }}</td>

                    {% elif LANGUAGE_CODE == 'en' %}
                    <td>{{ o.organization.inter_organization.name_en }}</td>
                    <td>{{ o.description_en | truncatechars:"100" }}</td>
                    <td>{{ o.inter_org_address_en }}</td>
                    <td>{{ o.meeting_text_en | truncatechars:"70" }}</td>

                    {% endif %}
                    <td>{{ o.joined_date }}</td>
                    <td>{{ o.meeting_date }}</td>
                    <td>{{ o.inter_org_tel }}</td>
                    <td>
                        {% if o.img %}
                            <a href="{{ o.img.url }}"><img style="width: 3rem; height: 2.5rem" src="{% media_root o.img.url %}" alt="img"></a>

                        {% else %}
                        Mavjud emas
                        {% endif %}
                    </td>
                    <td style="width: 2rem;" class="text-right">
                        <div style="width: 2.25rem;" class="dropdown ml-auto">
                            <a class="btn btn-sm btn-icon-only text-light"
                               href="#" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v text-dark"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                {% if user.role == "Admin" or o.id in inter_org_perms %}
                                <a class="dropdown-item text-navy"
                                   href="{% url 'main:update_info' o.id %}"><i class="fas fa-edit text-left"></i><span class="ml-3">{% trans "O'zgartirish" %}</span>
                                </a>
                                <a class="dropdown-item text-danger"
                                   href="{% url 'main:delete_info' o.id %}"><i class="fas fa-trash text-left"></i><span class="ml-3">{% trans "O'chirish" %}</span>
                                </a>
                                {% endif %}
                                <a class="dropdown-item text-info"
                                   href="{% url 'main:detail_info' o.id %}"><i class="fas fa-eye text-left"></i><span class="ml-3">{% trans "Batafsil" %}</span>
                                </a>
                            </div>
                        </div>
                    </td>

                  </tr>
                  {% endfor %}

                  </tbody>
                  <tfoot style="border-bottom: solid black 10px;">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                  </tfoot>
                </table>
                {% if user.role != "Monitoring" %}
                <div class="row justify-content-start mt-n3">
                  <div class="col-4 mt-n3">
                      <a href="{% url 'main:create_info' %}" class="btn-lg btn-info">{% trans "Qo'shish"%}</a>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}



{% block script %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "info": false,
      "paging": 10,
      "responsive": true,
      "lengthChange": false,
      "autoWidth": false,
      "buttons": [
              {
                  extend: "excel",
                  className: 'btn btn-info',
                  exportOptions: {
                      columns: 'th:not(:last-child)'
                  }
              },
              {
                  extend: "pdf",
                  className: 'btn btn-info',
                  exportOptions: {
                      columns: 'th:not(:last-child)'
                  }
              },
              {
                  extend: "colvis",
                  className: 'btn btn-info'
              }
          ],
      "language": {
          "buttons": {
              "colvis": "{% trans "Ustun ko'rinishi"%}",
          },
          "paginate": {
              "previous": "{% trans "Avvalgi" %}",
              "next": "{% trans "Keyingi" %}",
          },
          "search": "{% trans 'Izlash'%}",
      },
      'initComplete': function(){
          //COLUMN 1
          this.api().columns(1).every(function () {
              var column = this;
              var select = $('<select class="form-control" id="before_change"><option value=""></option></select>')
                  .appendTo($(column.footer()).empty())
                  .on('change', function () {
                      $("#before_change").css("background-color", "#b1e8d67d")
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );

                      column
                          .search(val ? '^' + val + '$' : '', true, false)
                          .draw();
                  });

              column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option> ')
              });
          });
          this.api().columns(2).every(function () {
              var column = this;
              var select = $('<select class="form-control" id="before_change"><option value=""></option></select>')
                  .appendTo($(column.footer()).empty())
                  .on('change', function () {
                      $("#before_change").css("background-color", "#b1e8d67d")
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );

                      column
                          .search(val ? '^' + val + '$' : '', true, false)
                          .draw();
                  });

              column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option> ')
              });
          });
          this.api().columns(3).every(function () {
              var column = this;
              var select = $('<select class="form-control" id="before_change"><option value=""></option></select>')
                  .appendTo($(column.footer()).empty())
                  .on('change', function () {
                      $("#before_change").css("background-color", "#b1e8d67d")
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );

                      column
                          .search(val ? '^' + val + '$' : '', true, false)
                          .draw();
                  });

              column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option> ')
              });
          });
          this.api().columns(4).every(function () {
              var column = this;
              var select = $('<select class="form-control" id="before_change"><option value=""></option></select>')
                  .appendTo($(column.footer()).empty())
                  .on('change', function () {
                      $("#before_change").css("background-color", "#b1e8d67d")
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );

                      column
                          .search(val ? '^' + val + '$' : '', true, false)
                          .draw();
                  });

              column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option> ')
              });
          });
          this.api().columns(5).every(function () {
              var column = this;
              var select = $('<select class="form-control" id="before_change"><option value=""></option></select>')
                  .appendTo($(column.footer()).empty())
                  .on('change', function () {
                      $("#before_change").css("background-color", "#b1e8d67d")
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );

                      column
                          .search(val ? '^' + val + '$' : '', true, false)
                          .draw();
                  });

              column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option> ')
              });
          });
          this.api().columns(6).every(function () {
              var column = this;
              let select = $('<select class="form-control" id="before_change"><option value=""></option></select>')
                  .appendTo($(column.footer()).empty())
                  .on('change', function () {
                      $("#before_change").css("background-color", "#b1e8d67d")
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );

                      column
                          .search(val ? '^' + val + '$' : '', true, false)
                          .draw();
                  });

              column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option> ')
              });
          });
          this.api().columns(7).every(function () {
              var column = this;
              var select = $('<select class="form-control" id="before_change"><option value=""></option></select>')
                  .appendTo($(column.footer()).empty())
                  .on('change', function () {
                      $("#before_change").css("background-color", "#b1e8d67d")
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );

                      column
                          .search(val ? '^' + val + '$' : '', true, false)
                          .draw();
                  });

              column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option> ')
              });
          });
      }
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  });
</script>
<script>
$(document).ready(function (){
    function data(data_type, currency_name){
        $.ajax({
            url: '/main/calculator/',
            {#type: 'post',#}
            data: {
                'type':data_type,
                'name': currency_name
                {#'csrfmiddlewaretoken': {% csrf_token %}#}
            },
            dataType: 'json',
            success: function (data){
                $("#current_amount").val(data['price']);
            },
            fail: function (data){
                if (data){
                    console.log(data);
                    console.log('failure')
                }
            }
        })
        {#$.post('/main/calculator/', {item_data:data_type})#}
        {#    .done((response) => {#}
        {#        console.log(response)#}
        {#    }).fail((fail_response) => {#}
        {#        console.log(fail_response);#}
        {#        console.log('failed');#}
        {#    })#}
    }


    $("#birja_select").hide();
    let cb_check = $("#cb");
    let birja_check = $("#birja");
    let cb_options = $("#cb_select");
    let current_amount = $("#current_amount");
    let input_amount = $("#input_amount");
    let result = $("#result");
    let data_type = 'cb';

    birja_check.on('click', function (){
        if (birja_check.prop('checked') == true){
            $("#cb_select option[value='RUB']").hide();
            $("#cb_select option[value='CAD']").hide();
            $("#cb_select option[value='CHF']").hide();
            cb_check.prop('checked', false);
            {#whatever = data('birja').data;#}
            data_type = 'birja';
            console.log('checked');
        } else if (birja_check.prop('checked') == false) {
            $("#cb_select option[value='RUB']").show();
            $("#cb_select option[value='CAD']").show();
            $("#cb_select option[value='CHF']").show();
            {#console.log($("#cb_options option[value='RUB']").val();#}
            cb_check.prop('checked', true);
            data_type = 'cb';
            console.log('not checked');
            {#whatever = data('cb');#}
        }
    });

    cb_options.on('change', function (){
        let currency_name = $("#cb_select").find(':selected').text();
        if (birja_check.prop('checked') == true){
            data_type = 'birja';
        } else if (birja_check.prop('checked') == true){
            data_type = 'cb';
        }
        console.log(data_type);
        console.log(data(data_type, currency_name))
    });

    result.val(0)
    input_amount.keyup(function (){
        console.log(input_amount.val());
        console.log(current_amount.val())
        let r = 0;
        if (input_amount.val()){
            r = parseInt(current_amount.val())*parseInt($("#input_amount").val());
        }
        result.val(r);
        console.log(r)
    })

})
</script>
{% endblock %}

