{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% load main_tags %}
{% block title %}<title>{% trans 'Main info'%}</title>{% endblock %}

  {% block links %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  {% endblock %}

{% block page_title %}
{% trans "Bosh sahifa ma'lumotlari"%}
{% endblock %}
  {% block breadcrumb %}
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="{% url 'main:home' %}">{% trans 'Bosh sahifa'%}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'main:create_info' %}">{% trans "Bosh sahifa ma'lumotlari"%}</a></li>
      <li class="breadcrumb-item active">{% trans 'Batafsil'%}</li>
    </ol>
  </div>
  {% endblock %}


    <!-- Main content -->
    {% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card mt-2">
              <div class="card-header" style="background-color: #0d8ccb">
                <h3 class="card-title"></h3>
              </div>
              <div class="card-body">
                <table id="example1" class="table table-bordered table-hover align-items-center text-center" style="font-size: .7rem">
                  <thead>
                  <tr>
                    <th>{% trans "T/r" %}</th>
                    <th>{% trans 'Xalqaro tashkilot'%}</th>
                    <th>{% trans 'Sharh'%}</th>
                    <th>{% trans 'Manzil'%}</th>
                    <th>{% trans "Tadbir haqida ma'lumot"%}</th>
                    <th>{% trans "Xalqaro tashkilotga a'zo bo'lgan sanasi"%}</th>
                    <th>{% trans 'Tadbir sanasi'%}</th>
                      <th>{% trans "Telefon raqam" %}</th>
                    <th>{% trans "Foto" %}</th>
                      <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>{{ o.id }}</td>
                    {% if LANGUAGE_CODE == 'uz' %}
                    <td>{{ o.organization.inter_organization.name_uz }}</td>
                    <td>{{ o.description_uz | truncatechars:"100" }}</td>
                    <td>{{ o.inter_org_address_uz }}</td>
                    <td>{{ o.meeting_text_uz | truncatechars:"50" }}</td>

                    {% elif LANGUAGE_CODE == 'ru' %}
                    <td>{{ o.organization.inter_organization.name_ru }}</td>
                    <td>{{ o.description_ru | truncatechars:"100" }}</td>
                    <td>{{ o.inter_org_address_ru }}</td>
                    <td>{{ o.meeting_text_ru | truncatechars:"70" }}</td>

                    {% elif LANGUAGE_CODE == 'en' %}
                    <td>{{ o.organization.inter_organization.name_en }}</td>
                    <td>{{ o.description_en | truncatechars:"100" }}</td>
                    <td>{{ o.inter_org_address_en }}</td>
                    <td>{{ o.meeting_text_en | truncatechars:"70" }}</td>

                    {% endif %}
                    <td>{{ o.joined_date }}</td>
                    <td>{{ o.meeting_date }}</td>
                    <td>{{ o.inter_org_tel }}</td>
                    <td>
                        {% if o.img %}
                            <a href="{{ o.img.url }}"><img style="width: 3rem; height: 2.5rem" src="{% media_root o.img.url %}" alt="img"></a>

                        {% else %}
                        Mavjud emas
                        {% endif %}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="row justify-content-start mb-3 mt-n3">
                  <div class="col-1 btn-group" style="margin-left: 20px;">
                      <a href="{% url 'main:main_info' %}"  class="btn btn-outline-info"><i class="fas fa-angle-double-left"></i></a>
                      {% if o.id in inter_org_perms %}
                      <a href="{% url 'main:update_info' o.id %}?from=main_detail"  class="btn btn-outline-info"><i class="fas fa-edit"></i></a>
                      <a href="{% url 'main:delete_info' o.id %}?from=main_detail"  class="btn btn-outline-info"><i class="fas fa-trash"></i></a>
                      {% endif %}
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}



{% block script %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- Page specific script -->
{% endblock %}

