.sign-button{
	background-color: #CB5151 !important;
	cursor: pointer !important;
	color: #fff !important;
	padding: 6px 16px !important;
}
.sign-button:hover{
	background-color: #BA4D4D !important;
}
.sign-button:active{
	-webkit-box-shadow: inset 0px 2px 14px -1px rgba(0,0,0,0.58);
	-moz-box-shadow: inset 0px 2px 14px -1px rgba(0,0,0,0.58);
	box-shadow: inset 0px 2px 14px -1px rgba(0,0,0,0.58);
}
#edc-dropdown{
	/*position: absolute;*/
	background-color: #ffffff;
	z-index: 999;
	/*box-shadow: #727272 1px 1px 7px;*/
	/*margin-top: -15px;*/
	/*height: 200px;*/
	/*overflow: auto;*/
}
#edc-dropdown .itm{
	padding: 10px 20px;
	border-bottom: solid 1px #ccc;
	cursor: pointer;
	background-color: #f6f6f6;
}
#edc-dropdown .itm:hover{
	background-color: #eeeeee;
}
#edc-dropdown .itm td{
	padding: 2px 8px;
}