{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>404 Error</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
</head>
<body class="">
  <div class="container mt-5">
      <div class="row align-items-center justify-content-center h-100">
        <div class="col-5 ml-auto">
          <h2 style="font-size: 5rem" class="text-secondary text-right">404</h2>
        </div>
        <div class="col">
          <h3><i class="fas fa-exclamation-triangle text-danger mr-2"></i>{% trans 'Bunday sahifa mavjud emas'%}.</h3>

          <p>
            <a href="{% url 'main:home' %}">{% trans 'Bosh sahifa'%}</a>{% trans 'ga qaytish'%}
          </p>

        </div>
      </div>
  </div>

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
</body>
</html>
