{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% include 'crispy_forms/templates/bootstrap4/layout/field_file.html' %}
{% block title %}<title>Create m-fee</title>{% endblock %}

{% block links %}
<!-- Google Font: Source Sans Pro -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
<!-- Font Awesome -->
<link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
<!-- Theme style -->
<link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
{% endblock %}





{% block page_title %}
{% trans "To'lov ro'yxati"%}
{% endblock %}

{% block breadcrumb %}
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="{% url 'main:home' %}">{% trans 'Bosh sahifa'%}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'organizations:membership_fees' %}">{% trans "To'lov ro'yxati"%}</a></li>
      <li class="breadcrumb-item active">{% trans "Qo'shish"%}</li>
    </ol>
</div>
{% endblock %}


    <!-- Main content -->
    {% block content %}
    <style>
        {% if  form.confirmation_data.errors or  form.errors %}

        {% else %}
            #div_id_confirmation_data {
                display: none;
            }
        {% endif %}
        {% if  form.invoice_confirmation.errors or  form.errors %}

        {% else %}
            #div_id_invoice_confirmation {
                display: none;
            }
        {% endif %}

        {% if form.paid_fee_confirmation.errors or form.errors %}
            {% else %}
            #div_id_paid_fee_confirmation {
                display: none;
            }
        {% endif %}
    </style>
    <section class="content">
      <div class="container-fluid">

      <div class='alert alert-danger alert-dismissible d-none'>
        <button class='close' type='button' data-dismiss='alert' aria-hidden='true'><i class='fas fa-close'></i></button>
        <h5><i class='fas fa-ban'></i>Alert!</h5>
        {% trans "Badal summasi [0-9] raqamlaridan iborat bo'lishi shart"%}.
      </div>
        <div class="row">
          <!-- left column -->
          <div class="col-12 mx-auto" style="width: 96%;">
            <!-- Input addon -->
            <div class="card mt-2" style="height: 98%;">
              <div class="card-header" style="background-color: #0d8ccb">
                <h3 class="card-title">{% trans "Qo'shish"%}</h3>
              </div>
              <div class="card-body">

                <form action="{% url 'organizations:membership_create' %}?from={{ from }}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-3">
                            {% if request.user.role == 'Admin' %}
                            {{ form.auth_organizations | as_crispy_field }}
                            {% else %}
                            <label for="user_org">{% trans "Vakolatli tashkilot" %}</label>
                            <input id="user_org" style="font-size: 1.2rem; height: 47.8px" class="form-control d-block" type="text" value="{{ request.user.auth_organization }}" disabled>
                            {% endif %}
                        </div>
                        <div class="col-3">
                            {{ form.inter_organization | as_crispy_field }}
                        </div>
                        <div class="col-3">
                            {{ form.fiscal_year | as_crispy_field }}
                        </div>
                        <div class="col-3">
                            <label for="currency_type_id">{% trans "Pul birligi" %}</label>
                            <input id="currency_type_id" style="font-size: 1.2rem; height: 47.8px" class="form-control d-block" type="text" value="" disabled>
                        </div>
                    </div>
                    <div class="row my-5">
                        <div class="col">
                            {{ form.forecast_fee | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.sent_invoice_sum | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.paid_fee | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            {{ form.invoice_confirmation | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.paid_fee_confirmation | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form.payment_date | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.bank_service | as_crispy_field }}
                        </div>
                        <div class="col mt-4">
                            {{ form.payment_confirmed | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                        </div>
                        <div class="col">
                        </div>
                        <div class="col">
                            {{ form.confirmation_data | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row justify-content-end mr-1 mt-3">
                        <button type="submit" class="btn btn-lg btn-info">{% trans 'Saqlash'%}</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
{% block script %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- bs-custom-file-input -->
<script src="{% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
<!-- Page specific script -->
<script>
$(function () {
  bsCustomFileInput.init();
});
</script>
<script src="{% static 'imask/http_unpkg.com_imask.js' %}"></script>
<script>
    $(document).ready(function (){
        $("#currency_type_id").val('{{ currency }}')
        let url = "{% url 'organizations:inter_org_currency' %}"
        let org = $("#id_inter_organization").find(':selected')
        $("#id_inter_organization").on('change', function (){
            let org = $("#id_inter_organization option:selected").val();
            $.ajax({
                url: url,
                type: 'GET',
                data: {
                    'org_id': org,
                },
                dataType: 'json',
                success: function (data){
                    $("#currency_type_id").val(data['currency_name']);
                    console.log('currency')
                },
                fail: function (data){
                    $("#currency_type_id").val("------");
                    console.log(data);
                    console.log('failed');
                }
            })
        });

        $("#fiscal_year_id").select2({
            placeholder: '2021',
            allowClear: true,
            height: "5rem"
        });

        let payment = $("#id_payment_confirmed");
        payment.on('click', function (){
            if(!payment.is(':checked')){
            $("#div_id_confirmation_data").hide();
            } else {
                $("#div_id_confirmation_data").show();
            }
        });


        let invoice = $("#id_sent_invoice_sum");
        let fee = $("#id_paid_fee");

        fee.keypress(function(e){
            let charCode = (e.which) ? e.which :e.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)){
                return false
            }
        });
        fee.keyup(function(e){
            let charCode = (e.which) ? e.which :e.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)){
                return false
            }

            if ($(this).val().length)
                $('#div_id_paid_fee_confirmation').show();
            else
                $('#div_id_paid_fee_confirmation').hide();
        });

        invoice.keypress(function(e){
            let charCode = (e.which) ? e.which :e.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)){
                return false
            }
        });
        invoice.keyup(function(){
            if ($(this).val().length)
                $('#div_id_invoice_confirmation').show();
            else
                $('#div_id_invoice_confirmation').hide();
        });

    });
    if ($("#id_sent_invoice_sum") && $("#id_invoice_confirmation").files.length == 0){
        alert("Invoysni tasdiqlovchi fayl yuklanishi shart!")
    };
    if ($("#id_paid_fee") && $("#id_paid_fee_confirmation").files.length == 0){
        alert("To'lovni tasdiqlovchi fayl yuklanishi shart!")
    };
    if ($("#id_payment_confirmed:checked") && $("#id_confirmation_data").files.length == 0){
        alert("Tasdiqlovchi fayl yuklanishi shart!")
    };


    $("#submit_btn").on('click', function (){
        if ($("#id_sent_invoice_sum").val() && $("#id_invoice_confirmation").files.length == 0){
            alert("Invoysni tasdiqlovchi fayl yuklanishi shart!")
        };
        if ($("#id_paid_fee").val() && $("#id_paid_fee_confirmation").files.length == 0){
            alert("To'lovni tasdiqlovchi fayl yuklanishi shart!")
        };
        if ($("#id_payment_confirmed:checked").val() && $("#id_confirmation_data").files.length == 0){
            alert("Tasdiqlovchi fayl yuklanishi shart!")
        };
    })


</script>

{% endblock %}

