{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}<title>{% trans 'Delete organizations'%}</title>{% endblock %}

{% block links %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
{% endblock %}





{% block page_title %}
{% trans "Tashkilotni o'chirish"%}
{% endblock %}

{% block breadcrumb %}
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="{% url 'main:home' %}">{% trans 'Bosh sahifa'%}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'organizations:membership_fees' %}">{% trans "To'lov ro'yxati"%}</a></li>
      <li class="breadcrumb-item active">{% trans "O'chirish"%}</li>
    </ol>
</div>
{% endblock %}


    <!-- Main content -->
    {% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-12 mx-auto" style="width: 96%">
            <!-- Input addon -->
            <div class="card mt-2">
              <div class="card-header" style="background-color: #0d8ccb">
                <h3 class="card-title">{% trans "Tashkilotni o'chirish"%}</h3>
              </div>
              <div class="card-body">

                <form action="{% url 'organizations:membership_delete' object.id %}" method="post">
                    {% csrf_token %}
                    <table id="example1" class="table table-bordered table-hover">
                      <thead>
                      <tr class="text-center bg-gray-light" style="line-height: 1.4rem; text-align: center; vertical-align: middle">
                        <th style="text-align: center; vertical-align: middle">{% trans "Mas'ul tashkilot nomi"%}</th>
                        <th style="text-align: center; vertical-align: middle">{% trans "Xalqaro tashkilot yoki shartnoma nomi"%}</th>
                        <th style="text-align: center; vertical-align: middle">{% trans 'Moliya yili'%}</th>
                        <th style="text-align: center; vertical-align: middle">{% trans "To'lov amalga oshiriladigan valyuta birligi"%}</th>
                        <th style="text-align: center; vertical-align: middle">{% trans "A'zolik badali to'lovining prognozi summasi"%}*</th>
                        <th style="text-align: center; vertical-align: middle">{% trans 'Joriy yil uchun yuborilgan invoys summasi'%}**</th>
                        <th style="text-align: center; vertical-align: middle">{% trans "Joriy yilda to'langan a'zolik badali summasi"%}</th>
                        <th style="text-align: center; vertical-align: middle">{% trans 'Bank xizmati'%}</th>
                        <th style="text-align: center; vertical-align: middle">{% trans "Xalqaro tashkilotga badal summasi yetib borganiligini tasdiqlovchi ma'lumot"%}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>{{ object.auth_organizations }}</td>
                        <td>{{ object.inter_organization }}</td>
                        <td>{{ object.fiscal_year }}</td>
                        <td>{{ object.inter_organization.currency }}</td>
                        <td>{{ object.forecast_fee }}</td>
                        <td>{{ object.sent_invoice_sum }}</td>
                        <td>{{ object.paid_fee }}</td>
                        <td>{{ object.bank_service }}</td>
                        {% if object.confirmation_data %}
                        <td>{% trans 'Tasdiqlov xati'%}: <a href="{{ object.confirmation_data.url }}"><i class="fas fa-file"></i></a></td>
                        {% else %}
                        <td>{% trans 'Mavjud emas'%}</td>
                        {% endif %}
                      </tr>
                      </tbody>
                    </table>
                    <div class="row ml-2 mt-3">
                        <button id="delete_btn" type="submit" class="btn-lg  btn-danger" onclick="return confirm('Buyruqni tasdiqlaysizmi?')"><i class="fas fa-trash"></i></button>
{#                        <p><input type="submit" value="{% trans 'Ha' %}" class="btn btn-success mr-3"/><a class="btn btn-danger" href="{% url 'organizations:fee-condition' %}">{% trans 'Bekor qilish' %}</a></p>#}
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
{% block script %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- bs-custom-file-input -->
<script src="{% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- Page specific script -->
{% endblock %}

