{% extends 'index.html' %}
{% load i18n %}
{% load static %}

{% block title %}<title>Fees report</title>{% endblock %}

  {% block links %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  {% endblock %}

{% block page_title %}
{% trans "Xalqaro tashkilotlarga a'zolik badali bo'yicha to'lov ro'yxati"%}
{% endblock %}
  {% block breadcrumb %}
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="{% url 'main:home' %}">{% trans 'Bosh sahifa'%}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'organizations:membership_fees' %}">{% trans "To'lov ro'yxati"%}</a></li>
      <li class="breadcrumb-item active">{% trans 'Batafsil'%}</li>
    </ol>
  </div>
  {% endblock %}


    <!-- Main content -->
    {% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card mt-2">
              <div class="card-header" style="background-color: #0d8ccb">
                <h3 class="card-title">{% trans 'Batafsil'%}</h3>
              </div>
              <div class="card-body">
                <table id="example1" class="table table-bordered table-hover">
                  <thead>
                  <tr class="text-center" style="line-height: 1.4rem; text-align: center; vertical-align: middle">
                    <th style="text-align: center; vertical-align: middle">{% trans 'T/r' %}</th>
                    <th style="text-align: center; vertical-align: middle">{% trans "Vakolatli tashkilot"%}</th>
                    <th style="text-align: center; vertical-align: middle">{% trans "Xalqaro tashkilot yoki shartnoma nomi"%}</th>
                    <th style="text-align: center; vertical-align: middle">{% trans 'Moliya yili'%}</th>
                    <th style="text-align: center; vertical-align: middle">{% trans "To'lov amalga oshiriladigan valyuta birligi"%}</th>
                    <th style="text-align: center; vertical-align: middle">{% trans "A'zolik badali to'lovining prognozi summasi"%}*</th>
                    <th style="text-align: center; vertical-align: middle">{% trans "Joriy yil uchun yuborilgan invoys summasi"%}**</th>
                    <th style="text-align: center; vertical-align: middle">{% trans "Joriy yilda to'langan a'zolik badali summasi"%}</th>
                    <th style="text-align: center; vertical-align: middle">{% trans 'Bank xizmati'%}</th>
                    <th style="text-align: center; vertical-align: middle">{% trans "Xalqaro tashkilotga badal summasi yetib borganiligini tasdiqlovchi ma'lumot"%}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>{{ object.id }}</td>
                    {% if LANGUAGE_CODE == 'uz' %}
                    <td>{{ object.auth_organizations.name_uz }}</td>
                    <td>{{ object.inter_organization.name_uz }}</td>
                    <td>{{ object.fiscal_year }}</td>
                    <td>{{ object.inter_organization.currency.name_uz }}</td>
                    {% elif LANGUAGE_CODE == 'ru' %}
                    <td>{{ object.auth_organizations.name_ru }}</td>
                    <td>{{ object.inter_organization.name_ru }}</td>
                    <td>{{ object.fiscal_year }}</td>
                    <td>{{ object.inter_organization.currency.name_ru }}</td>
                    {% endif %}
                    <td>{{ object.forecast_fee }}</td>
                    <td>{{ object.sent_invoice_sum }}</td>
                    <td>{{ object.paid_fee }}</td>
                    <td>{{ object.bank_service }}</td>
                    {% if object.confirmation_data %}
                    <td>{% trans "Tasdiqlov xati"%}: <a href="{{ object.confirmation_data.url }}"><i class="fas fa-file"></i></a></td>
                    {% else %}
                    <td>{% trans 'Mavjud emas'%}</td>
                    {% endif %}
                  </tr>
                  </tbody>
                </table>
                <div class="row justify-content-start mb-3 mt-2">
                  <div class="col-1 btn-group">
                      <a href="{% url 'organizations:membership_fees' %}"  class="btn btn-outline-info"><i class="fas fa-angle-double-left"></i></a>
                      {% if user.role != 'Monitoring' %}
                      <a href="{% url 'organizations:membership_update' object.id %}?from=membership_detail"  class="btn btn-outline-info"><i class="fas fa-edit"></i></a>
                      <a href="{% url 'organizations:membership_delete' object.id %}?from=membership_detail"  class="btn btn-outline-info"><i class="fas fa-trash"></i></a>
                      {% endif %}
                  </div>
                  <div style="font-size: .8rem" class="col-2 text-right">{% trans 'Izoh'%}:</div>
                  <div style="font-size: .8rem" class="col">
                    * {% trans "Xalqaro tashkilot tomonidan joriy yil uchun invoys yuborilgunga qadar prognoz summa kiritiladi"%}
                    <br>
                    ** {% trans "Xalqaro tashkilot tomonidan invoys yuborilganidan so'ng to'lov summasi kiritiladi"%}
                  </div>
              </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}



{% block script %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- Page specific script -->
{% endblock %}

