{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% load main_tags %}

{% block title %}<title>Fees report</title>{% endblock %}

  {% block links %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  {% endblock %}

{% block page_title %}
{% trans "Xalqaro tashkilotlarga a'zolik badali bo'yicha to'lov ro'yxati"%}
{% endblock %}
  {% block breadcrumb %}
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="{% url 'main:home' %}">{% trans 'Bosh sahifa'%}</a></li>
      <li class="breadcrumb-item active">{% trans "A'zolik badali"%}</li>
    </ol>
  </div>
  {% endblock %}


    <!-- Main content -->
    {% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card mt-2">
              <div class="card-header" style="background-color: #0d8ccb">
{#                <h3 class="card-title text-white">{% trans "Davlat budjeti hisobidan moliyalashtirish"%}</h3>#}
              </div>
              <div class="card-body">
                <table id="example1" class="table table-hover" style="border-bottom: solid #dee2e6 1px; font-size: .7rem">
                  <thead class="bg-gray-light">
                      <tr class="text-center">
                        <th style="text-align: center; vertical-align: middle">{% trans "T/r" %}</th>
                        <th style="text-align: center; vertical-align: middle">{% trans 'Vakolatli tashkilot'%}</th>
                        <th style="text-align: center; vertical-align: middle">{% trans 'Xalqaro tashkilot yoki shartnoma nomi'%}</th>
                        <th style="text-align: center; vertical-align: middle">{% trans 'Moliya yili'%}</th>
                        <th style="text-align: center; vertical-align: middle">{% trans "To'lov amalga oshiriladigan valyuta birligi"%}</th>
                        <th style="text-align: center; vertical-align: middle">{% trans "A'zolik badali to'lovining prognozi summasi"%}*</th>
                        <th style="text-align: center; vertical-align: middle">{% trans "Joriy yil uchun yuborilgan invoys summasi"%}**<i>({% trans 'belgilangan valyutada'%})</i> </th>
                        <th style="text-align: center; vertical-align: middle">{% trans "Invoysni tasdiqlovchi hujjat" %}</th>
                        <th style="text-align: center; vertical-align: middle">{% trans "Joriy yilda to'langan a'zolik badali summasi"%} <i>({% trans 'belgilangan valyutada'%})</i> </th>
                        <th style="text-align: center; vertical-align: middle">{% trans "To'langan a'zolik badalini tasdiqlovchi hujjat" %}</th>
                        <th style="text-align: center; vertical-align: middle">{% trans "To'lov sanasi" %}</th>
                        <th style="text-align: center; vertical-align: middle">{% trans 'Bank xizmati'%}</th>
                        <th style="text-align: center; vertical-align: middle">{% trans "Xalqaro tashkilotga badal summasi yetib borganligini tasdiqlovchi ma'lumot"%}</th>
                        <th></th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for object in objects %}
                        <tr class="text-center">
                        <td>{{ object.id }}</td>
                        {% if LANGUAGE_CODE == 'uz' %}
                        <td>{{ object.auth_organizations.name_uz }}</td>
                        <td>{{ object.inter_organization.name_uz }}</td>
                        <td>{{ object.fiscal_year }}</td>
                        <td>{{ object.inter_organization.currency.name_uz }}</td>
                        {% elif LANGUAGE_CODE == 'ru' %}
                        <td>{{ object.auth_organizations.name_ru }}</td>
                        <td>{{ object.inter_organization.name_ru }}</td>
                        <td>{{ object.fiscal_year }}</td>
                        <td>{{ object.inter_organization.currency.name_ru }}</td>
                        {% elif LANGUAGE_CODE == 'en' %}
                        <td>{{ object.auth_organizations.name_en }}</td>
                        <td>{{ object.inter_organization.name_en }}</td>
                        <td>{{ object.fiscal_year }}</td>
                        <td>{{ object.inter_organization.currency.name_en }}</td>
                        {% endif %}
                        <td>{{ object.forecast_fee }}</td>
                        <td>
                            <div class="row">
                                {% if object.sent_invoice_sum %}
                                <div class="col">
                                    {{ object.sent_invoice_sum }}
                                </div>
                                {% else %}
                                <div class="col">{% trans "Invoys summasi kiritilmagan." %}</div>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                {% if object.invoice_confirmation %}
                                <div class="col">
                                    <a href="{{ object.invoice_confirmation.url }}" target="_blank"><i class="ml-1 fas fa-file-invoice text-navy" style="font-size: 1.4rem"></i></a>
                                </div>
                                {% else %}
                                <div class="col">
                                    <p style="font-size: .7rem" class="text-danger">{% trans 'Majvud emas'%}.</p>
                                </div>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <div class="row text-center">
                                {% if object.paid_fee %}
                                <div class="col">
                                    {{ object.paid_fee }}
                                </div>
                                {% else %}
                                <div class="col">{% trans "To'lov summasi kiritilmagan." %}</div>
                                {% endif %}
                            </div>
                        </td>
                        <td>
                            <div class="row">
                                 <div class="col">
                                 {% if object.paid_fee_confirmation %}
                                     <a href="{{ object.paid_fee_confirmation.url }}" target="_blank"><i class="ml-1 fas fa-receipt text-info" style="font-size: 1.4rem"></i></a>
                                 {% else %}
                                     <p style="font-size: .7rem" class="text-danger">{% trans 'Mavjud emas'%}.</p>
                                 {% endif %}
                                 </div>
                            </div>
                        </td>
                        <td>
                            {% if object.payment_date %}
                            <i class="text-bold text-indigo">({{ object.payment_date|date:"d.m.Y" }})</i>
                            {% else %}
                            --.--.----
                            {% endif %}
                        </td>
                        <td>{{ object.bank_service }}</td>
                        {% if object.confirmation_data %}
                        <td>
                            <div class="row align-items-center mx-auto">
                                <span>{% trans 'Tasdiqlov xati'%}:</span><a href="{{ object.confirmation_data.url }}" target="_blank"><i class="ml-1  fas fa-envelope text-blue" style="font-size: 1.4rem"></i></a>
                            </div>
                        </td>
                        {% else %}
                        <td>{% trans 'Mavjud emas'%}</td>
                        {% endif %}
                        <td class="text-right">
                            <div class="dropdown ml-auto">
                                <a class="btn btn-sm btn-icon-only text-light"
                                   href="#" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v text-dark"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    {% if user.role != 'Monitoring' %}
                                    <a class="dropdown-item text-navy"
                                       href="{% url 'organizations:membership_update' object.id %}?from=in-budget"><i class="fas fa-edit text-left"></i><span class="ml-3">{% trans "O'zgartirish" %}</span>
                                    </a>
                                    <a class="dropdown-item text-danger"
                                       href="{% url 'organizations:membership_delete' object.id %}?from=in-budget"><i class="fas fa-trash text-left"></i><span class="ml-3">{% trans "O'chirish" %}</span>
                                    </a>
                                    {% endif %}
                                    <a class="dropdown-item text-info"
                                       href="{% url 'organizations:membership_detail' object.id %}?from=in-budget"><i class="fas fa-eye text-left"></i><span class="ml-3">{% trans "Ko'rish" %}</span>
                                    </a>
                                </div>
                            </div>
                        </td>
                      </tr>
                      {% endfor %}
                  </tbody>
                  <tfoot >
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                  </tfoot>
                </table>
                <div class="row mt-n4 justify-content-start">
                    {% if user.role != 'Monitoring' %}
                    <div class="col-2 mt-n2">
                        <a id="submit_btn" href="{% url 'organizations:membership_create' %}?from=in-budget" class="btn-lg btn-info">{% trans "Qo'shish"%}</a>
                    </div>
                    {% endif %}
                    <div style="font-size: .8rem" class="col-2 text-right text-navy text-bold">{% trans 'Izoh'%}:</div>
                    <div style="font-size: .8rem" class="col-5">
                        * {% trans "Xalqaro tashkilot tomonidan joriy yil uchun invoys yuborilgunga qadar prognoz summa kiritiladi"%}
                        <br>
                        ** {% trans "Xalqaro tashkilot tomonidan invoys yuborilganidan so'ng to'lov summasi kiritiladi"%}
                    </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}



{% block script %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- Page specific script -->
<script>
  {#let col = {% trans "Ustun ko'rinishi" %};#}
  $(function () {
    $("#example1").DataTable({
      "info": false,
      "paging": 10,
      "responsive": true,
      "lengthChange": false,
      "autoWidth": false,
      "buttons": [
              {
                  extend: "excel",
                  className: 'btn btn-info',
                  exportOptions: {
                      columns: 'th:not(:last-child)'
                  }
              },
              {
                  extend: "pdf",
                  orientation: "landscape",
                  pageSize: "LEGAL",
                  className: 'btn btn-info',
                  exportOptions: {
                      columns: 'th:not(:last-child)'
                  }
              },
              {
                  extend: "colvis",
                  className: 'btn btn-info'
              }
          ],
      "language": {
          "buttons": {
              "colvis": "{% trans "Ustun ko'rinishi"%}",
          },
          "paginate": {
              "previous": "{% trans "Avvalgi" %}",
              "next": "{% trans "Keyingi" %}",
          },
          "search": "{% trans 'Izlash'%}",
      },
      'initComplete': function () {

          //COLUMN 1
          this.api().columns(1).every(function () {
              var column = this;
              var select = $('<select class="form-control" id="before_change"><option value=""></option></select>')
                  .appendTo($(column.footer()).empty())
                  .on('change', function () {
                      $("#before_change").css("background-color", "#b1e8d67d")
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );

                      column
                          .search(val ? '^' + val + '$' : '', true, false)
                          .draw();
                  });

              column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option> ')
              });
          });
          this.api().columns(2).every(function () {
              var column = this;
              var select = $('<select class="form-control" id="before_change"><option value=""></option></select>')
                  .appendTo($(column.footer()).empty())
                  .on('change', function () {
                      $("#before_change").css("background-color", "#b1e8d67d")
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );

                      column
                          .search(val ? '^' + val + '$' : '', true, false)
                          .draw();
                  });

              column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option> ')
              });
          });
          this.api().columns(3).every(function () {
              var column = this;
              var select = $('<select class="form-control" id="before_change"><option value=""></option></select>')
                  .appendTo($(column.footer()).empty())
                  .on('change', function () {
                      $("#before_change").css("background-color", "#b1e8d67d")
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );

                      column
                          .search(val ? '^' + val + '$' : '', true, false)
                          .draw();
                  });

              column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option> ')
              });
          });
          this.api().columns(4).every(function () {
              var column = this;
              var select = $('<select class="form-control" id="before_change"><option value=""></option></select>')
                  .appendTo($(column.footer()).empty())
                  .on('change', function () {
                      $("#before_change").css("background-color", "#b1e8d67d")
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );

                      column
                          .search(val ? '^' + val + '$' : '', true, false)
                          .draw();
                  });

              column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option> ')
              });
          });
          this.api().columns(5).every(function () {
              var column = this;
              var select = $('<select class="form-control" id="before_change"><option value=""></option></select>')
                  .appendTo($(column.footer()).empty())
                  .on('change', function () {
                      $("#before_change").css("background-color", "#b1e8d67d")
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );

                      column
                          .search(val ? '^' + val + '$' : '', true, false)
                          .draw();
                  });
              column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option> ')
              });
           });
      }
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  });
</script>

{% endblock %}

