{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}<title>{% trans 'Update organizations'%}</title>{% endblock %}

{% block links %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
{% endblock %}





{% block page_title %}
{% trans 'Tashkilotni tahrirlash'%}
{% endblock %}

{% block breadcrumb %}
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="{% url 'main:home' %}">{% trans 'Bosh sahifa'%}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'organizations:inter_orgs' %}">{% trans 'Xalqaro tashkilotlar'%}</a></li>
      <li class="breadcrumb-item active">{% trans 'Tahrirlash'%}</li>
    </ol>
</div>
{% endblock %}


    <!-- Main content -->
    {% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-12 mx-auto" style="width: 96%">
            <!-- Input addon -->
            <div class="card mt-2">
              <div class="card-header" style="background-color: #0d8ccb">
                <h3 class="card-title">{% trans "Tashkilot ma'lumotlarini o'zgartirish"%}</h3>
              </div>
              <div class="card-body">

                <form action="{% url 'organizations:inter_update' object.id %}" method="post">
                    {% csrf_token %}
                    <div class="row justify-content-around mt-4">
                        <div class="col-4">
                            {{ form.name_uz | as_crispy_field }}
                        </div>
                        <div class="col-4">
                           {{ form.name_ru | as_crispy_field }}
                        </div>
                        <div class="col-4">
                            {{ form.name_en | as_crispy_field }}
                        </div>
                    </div>
                    <hr>
                    <div class="row justify-content-around">
                        <div class="col-5">
                            {{ form.beneficiary_bank_name | as_crispy_field }}
                            {{ form.bbank_account_name | as_crispy_field }}
                            {{ form.bbank_account_number | as_crispy_field }}
                        </div>
                        <div class="col-5">
                            {{ form.funding_source | as_crispy_field }}
                            {{ form.bbank_address_uz | as_crispy_field }}
                            {{ form.currency | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row mt-3 justify-content-end">
                        <button type="submit" class="btn-lg btn-info mr-3"><a href="{% url 'organizations:inter_orgs' %}"></a>{% trans 'Saqlash' %}</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
{% block script %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- bs-custom-file-input -->
<script src="{% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- Page specific script -->
<script>
$(function () {
  bsCustomFileInput.init();
});
</script>
<script src="{% static 'imask/http_unpkg.com_imask.js' %}"></script>
<script>
    let element = document.getElementById('org_phone_id');
    let maskOptions = {
        mask: '+998(00) 000-00-00',
        {#lazy: false,#}
    };
    let mask = new IMask(element, maskOptions);
</script>

{% endblock %}

