{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}<title>{% trans 'Delete organizations'%}</title>{% endblock %}

{% block links %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
{% endblock %}





{% block page_title %}
{% trans "Xalqaro tashkilotni o'chirish"%}
{% endblock %}

{% block breadcrumb %}
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="{% url 'main:home' %}">{% trans 'Bosh sahifa'%}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'organizations:inter_orgs' %}">{% trans 'Xalqaro tashkilotlar'%}</a></li>
      <li class="breadcrumb-item active">{% trans "O'chirish"%}</li>
    </ol>
</div>
{% endblock %}


    <!-- Main content -->
    {% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-12 mx-auto" style="width: 96%">
            <!-- Input addon -->
            <div class="card mt-2">
              <div class="card-header" style="background-color: #0d8ccb">
                <h3 class="card-title">{% trans "Xalqaro tashkilotni o'chirish"%}</h3>
              </div>
              <div class="card-body">

                <form action="{% url 'organizations:inter_delete' object.id %}" method="post">
                    {% csrf_token %}
                    <table id="example1" class="table table-bordered table-hover text-center">
                      <thead class="bg-gray-light">
                      <tr>
                        <th>{% trans 'T/r'%}</th>
                        <th>{% trans 'Xalqaro tashkilot nomi'%}</th>
                        <th>{% trans 'Benefitsiar bank nomi'%}</th>
                        <th>{% trans 'Benefitsiar bank manzili'%}</th>
                        <th>{% trans 'Benefitsiar bank hisob nomi'%}</th>
                        <th>{% trans 'Benefitsiar bank hisob raqami'%}</th>
                        <th>{% trans 'Pul birligi' %}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>{{ object.id }}</td>
                        {% if LANGUAGE_CODE == 'uz' %}
                        <td>{{ object.name_uz }}</td>
                        <td>{{ object.bbank_address_uz }}</td>
                        {% elif LANGUAGE_CODE == 'ru' %}
                        <td>{{ object.name_ru }}</td>
                        <td>{{ object.bbank_address_ru }}</td>
                        {% endif %}
                        <td>{{ object.beneficiary_bank_name }}</td>
                        <td>{{ object.bbank_account_name }}</td>
                        <td>{{ object.bbank_account_number }}</td>
                        {% if LANGUAGE_CODE == 'uz' %}
                        <td>{{ obj.currency.name_uz }}</td>
                        {% elif LANGUAGE_CODE == 'ru' %}
                        <td>{{ obj.currency.name_ru }}</td>
                        {% endif %}
                      </tr>
                      </tbody>
                    </table>
                    <div class="row ml-2 mt-3">
                        <button id="delete_btn" type="submit" class="btn-lg  btn-danger" onclick="return confirm('Buyruqni tasdiqlaysizmi?')"><i class="fas fa-trash"></i></button>
{#                         <p><input type="submit" value="{% trans 'Ha' %}" class="btn btn-success mr-3"/><a class="btn btn-danger" href="{% url 'organizations:inter_orgs' %}">{% trans 'Bekor qilish' %}</a></p>#}
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
{% block script %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- bs-custom-file-input -->
<script src="{% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- Page specific script -->
{% endblock %}

