.loader{
    width: 100px;
    height: 100px;
    margin: 35% auto;
    position: relative;
}
.loader:before,
.loader:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}
.loader:before{
    width: 100px;
    height: 100px;
    border: 5px solid #050A30;
    border-radius: 50%;
    animation: animate 1s infinite -0.3s;
}
.loader:after{
    border: 5px solid #050A30;
    border-radius: 50%;
    transform: translateY(-25%);
    top: 50%;
    left: 15px;
    animation: animate_1 4s infinite steps(1);
}
@keyframes animate{
    to{ transform: rotateX(180deg); }
}
@keyframes animate_1{
    0%{ opacity: 0; }
    25%{ opacity: 1; }
    50%{ box-shadow: 30px 0 0 #050A30; }
    75%{ box-shadow: 30px 0 0 #050A30, 60px 0 0 #050A30; }
}