{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% load linked_orgs_tags %}
{% block title %}<title>{% trans 'Create organizations'%}</title>{% endblock %}

{% block links %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
{% endblock %}





{% block page_title %}
{% trans "Ma'lumot qo'shish"%}
{% endblock %}

{% block breadcrumb %}
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="{% url 'main:home' %}">{% trans 'Bosh sahifa'%}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'organizations:debts_list' year %}">{% trans 'Qarzdorlik'%}-{{ year }}</a></li>
      <li class="breadcrumb-item active">{% trans "Qo'shish"%}</li>
    </ol>
</div>
{% endblock %}


    <!-- Main content -->
    {% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-12 mx-auto" style="max-width: 96%">
            <!-- Input addon -->
            <div class="card mt-2">
              <div class="card-header" style="background-color: #0d8ccb">
                <h3 class="card-title">{% trans "Tashkilot ma'lumotlarini kiriting"%}</h3>
              </div>
              <div class="card-body">

                <form action="{% url 'organizations:debt_create' year %}" method="post" onsubmit="DoSubmit();">
                    {% csrf_token %}
                    <div class="row mb-2">
                        <div class="col-3">
                            {% if request.user.role == 'Admin' %}
                            {{ form.auth_organizations | as_crispy_field }}
                            {% else %}
                            <label for="user_org">{% trans "Vakolatli tashkilot" %}</label>
                            <input id="user_org" style="font-size: 1.2rem; height: 47.8px" class="form-control d-block" type="text" value="{{ request.user.auth_organization }}" disabled>
                            {% endif %}
                        </div>
                        <div class="col-3">
                            {{ form.inter_organization | as_crispy_field }}
                        </div>
                        <div class="col-3">
                            {{ form.fiscal_year | as_crispy_field }}
                        </div>
                        <div class="col-3">
                            <label for="currency_type_id">{% trans "Pul birligi" %}</label>
                            <input id="currency_type_id" style="font-size: 1.2rem; height: 47.8px" class="form-control d-block" type="text" value="" disabled>
                        </div>
                    </div>
                    <div class="row mt-3 mb-2">
                        <div class="col">
                            <h5 class="font-italic text-secondary">{% trans 'Yil boshidagi qarzdorlik'%}. {% trans 'Shundan yillar kesimida'%}:</h5>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col">
                            {{ form.current_1 | as_crispy_field }}
                        </div>
                        <div class="mt-3" style="font-size: 2.3rem">+</div>
                        <div class="col">
                            {{ form.current_2 | as_crispy_field }}
                        </div>
                        <div class="mt-3" style="font-size: 2.3rem">+</div>
                        <div class="col">
                            {{ form.current_3 | as_crispy_field }}
                        </div>
                        <div class="mt-3" style="font-size: 2.3rem">+</div>
                        <div class="col">
                            {{ form.current_4 | as_crispy_field }}
                        </div>
                        <div class="mt-3" style="font-size: 2.3rem">+</div>
                        <div class="col">
                            {{ form.previous_years | as_crispy_field }}
                        </div>
                        <div class="mt-3" style="font-size: 2.3rem">=</div>
                        <div class="col-3">
                            {{ form.initial_debt | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row mt-3 mb-2">
                        <div class="col">
                            <h5 class="font-italic text-secondary">{% trans "Joriy yilda to'langan mablag'"%}. {% trans "To'lovni amalga oshirish manbaasi bo'yicha"%}:</h5>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            {{ form.paid_from_budget | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.paid_not_from_budget | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.other_sources | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.final_debt | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row justify-content-end mt-3">
                        <button id="submit_btn" type="submit" class="btn-lg btn-info mr-2">{% trans 'Saqlash'%}</button>
                    </div>
                </form>


              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}


{% block script %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- bs-custom-file-input -->
<script src="{% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- Page specific script -->
<script>
$(function () {
  bsCustomFileInput.init();
});
</script>
<script>
$(document).ready(function (){
    $("#currency_type_id").val('USD');
    let url = "{% url 'organizations:inter_org_currency' %}"
    $("#id_inter_organization").on('change', function (){
        let org = $("#id_inter_organization option:selected").val();
        $.ajax({
            url: url,
            data: {
                'org_id': org,
            },
            dataType: 'json',
            success: function (data){
                $("#currency_type_id").val(data['currency_name']);
            },
            fail: function (data){
                $("#currency_type_id").val("------");
                console.log(data);
                console.log('failed');
            }
        })
    });

    $("#id_fiscal_year").val({{ year }});
    $("#id_initial_debt").val(0);
    let current_1 = parseInt($("#id_current_1").val());
    let current_2 = parseInt($("#id_current_2").val());
    let current_3 = parseInt($("#id_current_3").val());
    let current_4 = parseInt($("#id_current_4").val());
    let current_5 = parseInt($("#id_previous_years").val());


    $("#id_current_1").on("change", function(){
        if (parseInt($(this).val()) != current_1){
            $("#id_initial_debt").val(parseInt($("#id_initial_debt").val()) + parseInt($(this).val()) - current_1)
        };
        current_1 = parseInt($("#id_current_1").val());
        {#let initial_value = parseInt($("#id_initial_value").val());#}

    });
    $("#id_current_2").on("change", function(){
        if (parseInt($(this).val()) != current_2){
            $("#id_initial_debt").val(parseInt($("#id_initial_debt").val()) + parseInt($(this).val()) - current_2)
        };
        current_2 = parseInt($("#id_current_2").val());
        {#let initial_value = parseInt($("#id_initial_value").val());#}
    })
    $("#id_current_3").on("change", function(){

        if (parseInt($(this).val()) != current_3){
            $("#id_initial_debt").val(parseInt($("#id_initial_debt").val()) + parseInt($(this).val()) - current_3)
        };
        current_3 = parseInt($("#id_current_3").val());
        {#let initial_value = parseInt($("#id_initial_value").val());#}
    });
    $("#id_current_4").on("change", function(){
        if (parseInt($(this).val()) != current_4){
            $("#id_initial_debt").val(parseInt($("#id_initial_debt").val()) + parseInt($(this).val()) - current_4)
        };
        current_4= parseInt($("#id_current_4").val());
        {#let initial_value = parseInt($("#id_initial_value").val());#}
    });
    $("#id_previous_years").on("change", function(){
        if (parseInt($(this).val()) != current_5){
            $("#id_initial_debt").val(parseInt($("#id_initial_debt").val()) + parseInt($(this).val()) - current_5)
        };
        current_5= parseInt($("#id_previous_years").val());
        {#let initial_value = parseInt($("#id_initial_value").val());#}
    });

    let initial_value = $("#id_initial_debt").val()

    let in_budget = parseInt($("#id_paid_from_budget").val());
    let out_budget = parseInt($("#id_paid_not_from_budget").val());
    let other_sources = parseInt($("#id_other_sources").val());


    $("#id_paid_from_budget").on("change", function(){
        if (parseInt($(this).val()) != in_budget){
            $("#id_final_debt").val(parseInt($("#id_initial_debt").val()) - parseInt($(this).val()) + in_budget)
        };
        in_budget = parseInt($("#id_paid_from_budget").val());
        {#let initial_value = parseInt($("#id_initial_value").val());#}
    });
    $("#id_paid_not_from_budget").on("change", function(){

        if (parseInt($(this).val()) != out_budget){
            $("#id_final_debt").val(parseInt($("#id_final_debt").val()) - parseInt($(this).val()) + out_budget)
        };
        out_budget = parseInt($("#id_paid_not_from_budget").val());
        {#let initial_value = parseInt($("#id_initial_value").val());#}
    });
    $("#id_other_sources").on("change", function(){
        if (parseInt($(this).val()) != other_sources){
            $("#id_final_debt").val(parseInt($("#id_final_debt").val()) - parseInt($(this).val()) + other_sources)
        };
        other_sources = parseInt($("#id_other_sources").val());
        {#let initial_value = parseInt($("#id_initial_value").val());#}
    });

    $("#submit_btn").on('click', function(){
        $("#id_fiscal_year").value = {{ year }};

        $("#id_initial_debt").value = parseInt($("#id_current_1").val())+parseInt($("#id_current_2").val())+parseInt($("#id_current_3").val())+parseInt($("#id_current_4").val())+parseInt($("#previous_years").val());
        $("#id_final_debt").value = parseInt($("#id_initial_debt").val())-parseInt($("#id_paid_from_budget").val())-parseInt($("#id_paid_not_from_budget").val())-parseInt($("#id_other_sources").val());
        return true;
    })
})
</script>


{% endblock %}

