{% extends 'index.html' %}
{% load i18n %}
{% load static %}

{% block title %}<title>{% trans 'Debts'%}</title>{% endblock %}

  {% block links %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  {% endblock %}

{% block page_title %}
{% trans "Qarzdorlik ro'yxati"%}
{% endblock %}
  {% block breadcrumb %}
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="{% url 'main:home' %}">{% trans 'Bosh sahifa'%}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'organizations:debts_list' year %}">{% trans 'Qarzdorlik'%}-{{ year }}</a></li>
      <li class="breadcrumb-item active">{% trans 'Batafsil'%}</li>
    </ol>
  </div>
  {% endblock %}


    <!-- Main content -->
    {% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card mt-2">
              <div class="card-header" style="background-color: #0d8ccb">
                <h3 class="card-title"></h3>
              </div>
              <div class="card-body">
                <table id="example1" class="table table-bordered table-hover align-items-center text-center" style="font-size: .7rem">
                  <thead>
                  <tr>
                    <th style="text-align: center; vertical-align: middle" rowspan="2">{% trans "T/r" %}</th>
                    <th style="text-align: center; vertical-align: middle" rowspan="2">{% trans 'Vakolatli tashkilot'%}</th>
                    <th style="text-align: center; vertical-align: middle" rowspan="2">{% trans 'Xalqaro tashkilot'%}</th>
                    <th style="text-align: center; vertical-align: middle" rowspan="2">{% trans 'Moliya yili'%}</th>
                    <th style="text-align: center; vertical-align: middle" rowspan="2">{% trans "To'lov amalga oshiriladigan valyuta birligi"%}</th>
                    <th style="text-align: center; vertical-align: middle" rowspan="2">{% trans 'Yil boshidagi qarzdorlik'%}</th>
                    <th colspan="5">{% trans 'Shundan yillar kesimida'%}</th>
                    <th colspan="3">{% trans "Joriy yilda to'langan mablag'"%}</th>
                    <th style="text-align: center; vertical-align: middle" rowspan="2">{% trans 'Yil oxiridagi qarzdorlik'%}</th>
                  </tr>
                  <tr>
                      <th style="text-align: center; vertical-align: middle">{{ year|add:"-1" }}</th>
                      <th style="text-align: center; vertical-align: middle">{{ year|add:"-2" }}</th>
                      <th style="text-align: center; vertical-align: middle">{{ year|add:"-3" }}</th>
                      <th style="text-align: center; vertical-align: middle">{{ year|add:"-4" }}</th>
                      <th style="text-align: center; vertical-align: middle">{% trans 'Avvalgi yillar'%}</th>
                      <th style="text-align: center; vertical-align: middle">{% trans "Byudjet mablag'lari hisobidan"%}</th>
                      <th style="text-align: center; vertical-align: middle">{% trans "Byudjetdan tashqari mablag'lar hisobidan"%}</th>
                      <th style="text-align: center; vertical-align: middle">{% trans "Boshqa manbaalar hisobidan"%}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr >
                    <td>{{ o.id }}</td>
                    {% if LANGUAGE_CODE == 'uz' %}
                    <td>{{ o.auth_organizations.name_uz }}</td>
                    <td>{{ o.inter_organization.name_uz }}</td>
                    {% elif LANGUAGE_CODE == 'ru' %}
                    <td>{{ o.auth_organizations.name_ru }}</td>
                    <td>{{ o.inter_organization.name_ru }}</td>
                    {% elif LANGUAGE_CODE == 'en' %}
                    <td>{{ o.auth_organizations.name_en }}</td>
                    <td>{{ o.inter_organization.name_en }}</td>
                    {% endif %}
                    <td>{{ o.fiscal_year }}</td>
                    <td>{{ o.inter_organization.currency }}</td>
                    <td>{{ o.initial_debt }}</td>
                    <td>{{ o.current_1 }}</td>
                    <td>{{ o.current_2 }}</td>
                    <td>{{ o.current_3 }}</td>
                    <td>{{ o.current_4 }}</td>
                    <td>{{ o.previous_years }}</td>
                    <td>{{ o.paid_from_budget }}</td>
                    <td>{{ o.paid_not_from_budget }}</td>
                    <td>{{ o.other_sources }}</td>
                    <td>{{ o.final_debt }}</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="row justify-content-start mb-3 mt-n3">
                  <div class="col-1 btn-group" style="margin-left: 20px;">
                      <a href="{% url 'organizations:debts_list' year %}"  class="btn btn-outline-info"><i class="fas fa-angle-double-left"></i></a>
                      {% if user.role != "Monitoring" %}
                      <a href="{% url 'organizations:debt_update' year o.id %}?from=debt_detail"  class="btn btn-outline-info"><i class="fas fa-edit"></i></a>
                      <a href="{% url 'organizations:debt_delete' year o.id %}?from=debt_detail"  class="btn btn-outline-info"><i class="fas fa-trash"></i></a>
                      {% endif %}
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}



{% block script %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- Page specific script -->
{% endblock %}

