{% extends 'index.html' %}
{% load i18n %}
{% load static %}


{% block title %}<title>{% trans 'Report'%}</title>{% endblock %}

  {% block links %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  {% endblock %}

{% block page_title %}
{% trans "Bog'liqlik ro'yxati" %}
{% endblock %}
  {% block breadcrumb %}
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="{% url 'main:home' %}">{% trans 'Bosh sahifa'%}</a></li>
      <li class="breadcrumb-item active">{% trans "Bog'liqlik ro'yxati" %}</li>
    </ol>
  </div>
  {% endblock %}


    <!-- Main content -->
    {% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card mt-2">
              <div class="card-header" style="background-color: #0d8ccb">
{#                <h3 class="card-title">{% trans "Budjetdan tashqari jamg‘armalar va badallar to‘lovchilarning o‘z mablag‘lari hisobidan moliyalashtirish"%}</h3>#}
              </div>
              <div class="card-body">
                <table id="example1" class="table table-hover text-center" style="border-bottom: solid #dee2e6 1px;">
                  <thead class="bg-gray-light">
                  <tr>
                    <th>{% trans "T/r" %}</th>
                    <th>{% trans 'Vakolatli tashkilotlar'%}</th>
                    <th>{% trans 'Xalqaro tashkilotlar'%}</th>
                    <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for item in object_list %}
                      <tr>
                        <td >{{ item.id }}</td>
                        {% if LANGUAGE_CODE == 'uz' %}
                        <td >{{ item.auth_organization.name_uz }}</td>
                        <td>{{ item.inter_organization.name_uz  }}</td>
                        {% elif LANGUAGE_CODE == 'ru' %}
                        <td >{{ item.auth_organization.name_ru }}</td>
                        <td>{{ item.inter_organization.name_ru  }}</td>
                        {% elif LANGUAGE_CODE == 'en' %}
                        <td >{{ item.auth_organization.name_en }}</td>
                        <td>{{ item.inter_organization.name_en  }}</td>
                        {% endif %}
                        <td style="width: 2rem;" class="text-center">
                            <div style="width: 2.25rem;" class="dropdown ml-auto">
                                <a class="btn btn-sm btn-icon-only text-light"
                                   href="#" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v text-dark"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                    {% if user.role == 'Admin' %}
                                    <a class="dropdown-item text-navy"
                                       href="{% url 'organizations:linked_org_update' item.id %}"><i class="fas fa-edit text-left"></i><span class="ml-3">{% trans "O'zgartirish" %}</span>
                                    </a>
                                    <a class="dropdown-item text-danger"
                                       href="{% url 'organizations:linked_org_delete' item.id %}"><i class="fas fa-trash text-left"></i><span class="ml-3">{% trans "O'chirish" %}</span>
                                    </a>
                                    {% endif %}
                                    <a class="dropdown-item text-info"
                                       href="{% url 'organizations:linked_org_detail' item.id %}"><i class="fas fa-eye text-left"></i><span class="ml-3">{% trans "Ko'rish" %}</span>
                                    </a>
                                </div>
                            </div>
                        </td>
                      </tr>
                  {% endfor %}

                  </tbody>
                </table>
                {% if user.role == "Admin" %}
                <div class="row justify-content-start mt-n3">
                  <div class="col-4 mt-n3">
                      <a href="{% url 'organizations:linked_org_create' %}" class="btn btn-lg btn-info">{% trans "Qo'shish"%}</a>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}



{% block script %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'plugins/datatables-rowgroup/js/dataTables.rowGroup.js' %}"></script>

<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- Page specific script -->
<script>
  {#let col = {% trans "Ustun ko'rinishi" %};#}
  $(function () {
    $("#example1").DataTable({
      "info": false,
      "paging": 10,
      "responsive": true,
      "lengthChange": false,
      "autoWidth": false,
      "buttons": [
              {
                  extend: "excel",
                  className: 'btn btn-info',
                  exportOptions: {
                      columns: 'th:not(:last-child)'
                  }
              },
              {
                  extend: "pdf",
                  className: 'btn btn-info',
                  exportOptions: {
                      columns: 'th:not(:last-child)'
                  }
              },
              {
                  extend: "colvis",
                  className: 'btn btn-info'
              }
          ],
      "language": {
          "buttons": {
              "colvis": "{% trans "Ustun ko'rinishi"%}",
          },
          "paginate": {
              "previous": "{% trans "Avvalgi" %}",
              "next": "{% trans "Keyingi" %}",
          },
          "search": "{% trans 'Izlash'%}",
      },
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

  });
</script>
{% endblock %}

