{% load static %}
{% load i18n %}
{% get_available_languages as LANGUAGES %}
{% load main_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  {% block title %}<title>Membership fees</title>{% endblock %}



  {% block links %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/css/adminlte.min.css">

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="{% static 'plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css' %}">
  <!-- iCheck -->
  <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <!-- JQVMap -->
  <link rel="stylesheet" href="{% static 'plugins/jqvmap/jqvmap.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.css' %}">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="{% static 'plugins/overlayScrollbars/css/OverlayScrollbars.min.css' %}">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{% static 'plugins/daterangepicker/daterangepicker.css' %}">
  <!-- summernote -->
  <link rel="stylesheet" href="{% static 'plugins/summernote/summernote-bs4.min.css' %}">
      <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.3.1/css/flag-icon.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="{% static 'loader.css' %}">

  {% endblock %}
</head>
<style>
    body {
        overflow-x: hidden;
    }
    .asteriskField {
        display: None;
    }

    .select2-selection__rendering {
        line-height: 2rem
    }

    .select2-container .select2-selection--single {
        height: 2.98rem
    }

    .select2-selection__arrow {
        height: 35px !important
    }

    .dropdown-menu {
        min-width: 8rem; !important;
    }

    .testing {
        overflow: hidden;
        position: relative;
        height: 1.6rem;
        background-color: #f8f9fa;
    }
    .inner-testing {
        color: #0000C0;
        position: absolute;
        width: 100%;
        height: 100%;
        transform:translateX(-100%);
        scroll-behavior: smooth;
        /* Apply animation to this element */
        animation: testing 16s linear infinite;
    }
    @keyframes testing {
        0%   {
           transform: translateX(-30%);
         }
        100% {
           transform: translateX(100%);
        }
     }
</style>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper" >

  <!-- Navbar -->
  <nav class="main-header navbar  navbar-expand navbar-dark border-bottom-0 navbar-blue" style="padding: .8rem 0.5rem;">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>

    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">

{#    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}#}
{#    <input name="next" type="hidden" value="{{ redirect_to }}" />#}
{#    <select class="select" name="language">#}
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
{#        {% for language in languages %}#}
{#            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>#}
{#                {{ language.name_local }}#}
{#            </option>#}
{#        {% endfor %}#}
{#    </select>#}
{#    <input class="btn btn-cyan" type="submit" value="Go" />#}
{#    </form>#}
      <ul class="navbar-nav align-items-center ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% if LANGUAGE_CODE != 'en' %}
                <span>{{ LANGUAGE_CODE }}</span>
                {% else %}
                <span>ўз</span>
                {% endif %}
                </a>
                <div class="languages" >
                    <ul class="languages list-style-none dropdown-menu text-center justify-content-center">
                        {% for language in languages %}
                            {% get_url_tag request=request lang=language.code as url %}
                            {% if language.code == "uz" %}

                            <li class="dropdown-item" style="width: 20px;">
                                <a href="{{ url }}">
                                    <img style="width: 20px; height: 20px;" src="{% static 'images/flags/uzbekistan.png' %}" alt="uz"><span class="ml-2">O'zbekcha</span>
                                </a>
                            </li>

                            {% elif language.code == "ru" %}
                            <li class="dropdown-item" style="width: 20px;">
                                <a href="{{ url }}">
                                    <img style="width: 20px; height: 20px;" src="{% static 'images/flags/russia.png' %}" alt="ru"><span class="ml-2">Русский</span>
                                </a>
                            </li>
                            {% elif language.code == "en" %}

                            <li class="dropdown-item" style="width: 20px;">
                                <a href="{{ url }}">
                                    <img style="width: 20px; height: 20px;" src="{% static 'images/flags/uzbekistan.png' %}" alt="уз"><span class="ml-2">Ўзбек</span>
                                </a>
                            </li>

                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </li>
      </ul>



      <li class="nav-item text-right">
        <a class="nav-link align-baseline" href="{% url 'users:logout' %}">{% trans 'Chiqish' %}<i class="ml-2 fas fa-sign-out-alt"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
    </ul>
  </nav>
<div class="row testing">
  <div class="col inner-testing">
      {% if LANGUAGE_CODE == 'uz' %}
      Joriy tizim ayni paytda test rejimida ishga tushirilgan.
      {% elif LANGUAGE_CODE == 'ru' %}
      Текущая система в настоящее время работает в тестовом режиме.
      {% elif LANGUAGE_CODE == 'en' %}
      Жорий тизим айни пайтда тест режимида ишга туширилган.
      {% endif %}
  </div>
</div>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-light-cyan text-blue">
    <!-- Brand Logo -->
    <a href="{% url 'main:home' %}" class="brand-link text-center border-0 bg-blue">
      <img src="{% static 'images/fees.png' %}" class="ml-sm-1" style="width: 2.7rem; height: 2.5rem;" alt="logo"/>
      <span class="brand-text font-weight-light ml-2 align-bottom" style="font-size: 1.25rem">{% trans "A'zolik Badali" %}</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel p-3 w-100" style="border-radius: .3rem">
          <a href="{% url 'users:profile' user.username %}">
              <div class="row align-items-center">
                  <div class="col-3">
                      {% if user.image %}
                      <img class="profile-user-img img-fluid img-circle" src="{% media_root user.image.url %}" style="width: 280px;height: 60px" alt="user">
                      {% endif %}
                      <span style="font-size: 1rem; margin-left: 1rem">{{ user.username }}</span>
                  </div>
              </div>
          </a>
      </div>

      <!-- SidebarSearch Form -->
{#      <div class="form-inline">#}
{#        <div class="input-group" data-widget="sidebar-search">#}
{#          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">#}
{#          <div class="input-group-append">#}
{#            <button class="btn btn-sidebar">#}
{#              <i class="fas fa-search fa-fw"></i>#}
{#            </button>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="{% url 'organizations:auth_orgs' %}" class="nav-link{% if request.path == "/organizations/local-organizations/" %}active{% endif %}">
              <div class="row">
                  <div class="col-2"><i class="nav-icon fas fa-sitemap text-left text-navy"></i></div>
                  <div class="col-10">
                      <p style="width: 6rem">
                       {% trans "Vakolatli tashkilotlar" %}
                      </p>
                  </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a href="{% url 'organizations:inter_orgs' %}" class="nav-link {% if request.path == "/organizations/inter-organizations/" %}active{% endif %}">
              <div class="row">
                  <div class="col-2">
                      <i class="nav-icon fas fa-globe text-navy"></i>
                  </div>
                  <div class="col-10">
                      <p>
                        {% trans 'Xalqaro tashkilotlar' %}
                      </p>
                  </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == "/organizations/linked-orgs/in-budget" or request.path == "/organizations/linked-orgs/out-budget" %}active{% endif %}" href="#">
              <i class="nav-icon fas fa-link text-navy"></i>
              <p>
                {% trans "Bog'liqlik bo'yicha"%}
                <i class="right fas fa-angle-left text-navy"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                  <a class="nav-link {% if request.path == "/organizations/linked-orgs/in-budget" %}active{% endif %}" href="{% url 'organizations:linked_orgs_in' %}">
                      <i class="fas fa-sign-in-alt nav-icon text-navy"></i>
                      <p>{% trans 'Budjet'%}</p>
                  </a>
              </li>

              <li class="nav-item">
                  <a class="nav-link {% if request.path == "/organizations/linked-orgs/out-budget" %}active{% endif %}" href="{% url 'organizations:linked_orgs' %}">
                      <i class="fas fa-sign-out-alt nav-icon text-navy"></i>
                      <p>{% trans 'Budjetdan tashqari'%}</p>
                  </a>
              </li>

            </ul>
          </li>


          <li class="nav-item">
            <a class="nav-link {% if LANGUAGE_CODE != 'uz' %}mb-3 pb-3{% endif %}" href="#">
              <i class="nav-icon fas fa-wallet text-navy {% if LANGUAGE_CODE != 'uz' %}pt-3{% endif %}"></i>
              <p style="width: 50%; margin-left: .2rem; position:absolute; " class="d-inline-block ">
                  <span class="" style="position:relative;">{% trans 'Qarzdorlik/Haqdorlik'%}</span>
              </p>
              <i class="right fas fa-angle-left text-navy" style="{% if LANGUAGE_CODE != 'uz' %}top: 1.5rem{% endif %}"></i>
            </a>
            <ul class="nav nav-treeview mt-n1 {% if LANGUAGE_CODE != 'uz' %}mt-n3{% endif %}">
              <li class="nav-item">
                  <a class="nav-link " href="#">
                      <i class="fas fa-hand-holding-usd nav-icon text-navy"></i>
                      <p>
                          {% trans 'Qarzdorlik'%}
                          <i class="right fas fa-angle-left text-navy"></i>
                      </p>
                  </a>
                  <ul class="nav nav-treeview">
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'organizations:debts_list' 2021 %}">
                              <p class="ml-5">2021</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link " href="{% url 'organizations:debts_list' 2022 %}">
                              <p class="ml-5">2022</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link " href="{% url 'organizations:debts_list' 2023 %}">
                              <p class="ml-5">2023</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link " href="#">
                              <p class="ml-5">...</p>
                          </a>
                      </li>
                  </ul>
              </li>

              <li class="nav-item {% if LANGUAGE_CODE != 'uz' %}mb-4{% endif %}">
                  <a class="nav-link" href="#">
                      <i class="fas fa-funnel-dollar nav-icon text-navy"></i>
                      <p>
                          {% trans 'Haqdorlik'%}
                          <i class="right fas fa-angle-left text-navy"></i>
                      </p>
                  </a>
                  <ul class="nav nav-treeview">
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'organizations:over_payments_list' 2021 %}">
                              <p class="ml-5">2021</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'organizations:over_payments_list' 2022 %}">
                              <p class="ml-5">2022</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'organizations:over_payments_list' 2023 %}">
                              <p class="ml-5">2023</p>
                          </a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">
                              <p class="ml-5">...</p>
                          </a>
                      </li>
                  </ul>
              </li>

            </ul>
          </li>
          <li class="nav-item {% if LANGUAGE_CODE != 'uz' %}mt-n4 pt-2{% endif %}">
            <a class="nav-link {% if request.path == "/organizations/membership-fee/in-budget" or request.path == "/organizations/membership-fee/out-budget" %}active{% endif %}" href="#">
              <i class="nav-icon fas fa-money-check-alt text-navy"></i>
              <p>
                {% trans "To'lov ro'yxat" %}
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                  <a class="nav-link {% if request.path == "/organizations/membership-fee/in-budget" %}active{% endif %}" href="{% url 'organizations:membership_fees' %}">
                      <i class="fas fa-sign-in-alt nav-icon text-navy"></i>
                      <p>{% trans 'Budjet' %}</p>
                  </a>
              </li>
              <li class="nav-item">
                  <a class="nav-link {% if request.path == "/organizations/membership-fee/out-budget" %}active{% endif %}" href="{% url 'organizations:membership_fee_out' %}">
                      <i class="fas fa-sign-out-alt nav-icon text-navy"></i>
                      <p>{% trans 'Budjetdan tashqari' %}</p>
                  </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="{% url 'organizations:currencies' %}" class="nav-link {% if request.path == "/organizations/currency/" %}active{% endif %}">
              <i class="nav-icon fas fa-2x fa-euro-sign text-navy"></i>
              <p>
               {% trans  'Pul birliklari' %}

              </p>
            </a>
          </li>
          {% if request.user.role != 'Monitoring' %}
          <li class="nav-item">
            <a href="{% url 'main:main_info' %}" class="nav-link {% if LANGUAGE_CODE != 'uz' %}pb-3{% endif %} {% if request.path == "{{ LANGUAGE_CODE }}/main/main_info/" %}active{% endif %}">
              <i class="nav-icon fas fa-2x {% if LANGUAGE_CODE != 'uz' %}pt-3{% endif %} fa-info text-navy"></i>
              <p class="d-inline-block w-75 position-absolute" style="margin-left: 0.19rem;">
               {% trans "Bosh sahifa ma'lumotlari" %}
              </p>
            </a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">


    <!-- Content Header (Page header) -->
    {% if '/main/' not in request.path %}
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">

          <div class="col-sm-6">
            <h1 class="m-0">{% block page_title %}{% endblock %}</h1>
          </div>

          {% block breadcrumb %}
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item active"></li>
            </ol>
          </div>
          {% endblock %}
            <!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    {% endif %}
    <!-- /.content-header -->

    <!-- Main content -->
    {% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

{% block footer %}

{% endblock %}

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->


{% block script %}

{#    language    #}
{#    end language  #}
<script src="https://cdn.jsdelivr.net/npm/admin-lte@3.1/dist/js/adminlte.min.js"></script>

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- ChartJS -->
<script src="{% static 'plugins/chart.js/Chart.min.js' %}"></script>
<!-- Sparkline -->
<script src="{% static 'plugins/sparklines/sparkline.js' %}"></script>
<!-- JQVMap -->
<script src="{% static 'plugins/jqvmap/jquery.vmap.min.js' %}"></script>
<script src="{% static 'plugins/jqvmap/maps/jquery.vmap.usa.js' %}"></script>
<!-- jQuery Knob Chart -->
<script src="{% static 'plugins/jquery-knob/jquery.knob.min.js' %}"></script>
<!-- daterangepicker -->
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/daterangepicker/daterangepicker.js' %}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="{% static 'plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js' %}"></script>
<!-- Summernote -->
<script src="{% static 'plugins/summernote/summernote-bs4.min.js' %}"></script>
<!-- overlayScrollbars -->
<script src="{% static 'plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{% static 'dist/js/pages/dashboard.js' %}"></script>
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<script>
  {#let col = {% trans "Ustun ko'rinishi" %};#}
  $(function () {
    $("#example1").DataTable({

      "info": false,
      "paging": 10,
      "responsive": true,
      "lengthChange": false,
      "autoWidth": false,
      "buttons": [
              {
                  extend: "excel",
                  className: 'btn btn-info'
              },
              {
                  extend: "pdf",
                  className: 'btn btn-info'
              },
              {
                  extend: "colvis",
                  className: 'btn btn-info'
              }
          ],
      "language": {
          "buttons": {
              "colvis": "Ustun ko'rinishi",
          },
          "search": "Izlash",
      },
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  });
</script>
{% endblock %}
</body>
</html>
