{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Log in</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
{#    login #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'loader.css' %}">
    <script src="{% static 'eimzo/custom_encryption.js' %}"></script>

</head>
<body>
<style>
    body {
        overflow: hidden;
        background-color: lightgrey;
    }
#toggle_checkbox
{
    display: none;
}

#id_label
{
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    display: block;
    width: 60px;
    height: 30px;
    margin: 0 auto;
    transform: translateY(-50%);
    cursor: pointer;
}

#id_label:before
{
    top: 5.8px;
    left: 8px;
    width: 18px;
    height: 18px;
    border: 3px solid #17a2b8;
    background-color: #17a2b8;
}

#id_label:after
{
    top: 0;
    right: 0;
    width: 60px;
    height: 30px;
    border: 3px solid #17a2b8;
    {#background-color: white;#}
}

#id_label:before, #id_label:after
{
    content: "";
    position: absolute;
    border-radius: 50px;
    box-sizing: border-box;
    transition: 0.5s ease top, 0.5s ease left, 0.5s ease right, 0.5s ease width, 0.5s ease height, 0.5s ease border-color;
}

#toggle_checkbox:checked + #id_label:before
{
    top: 0;
    left: 0;
    width: 60px;
    height: 30px;
    border-color: #17a2b8;
    background-color: #17a2b8;
}

#toggle_checkbox:checked + #id_label:after
{
    top: 4px;
    right: 8px;
    width: 24px;
    height: 24px;
    border-color: #17a2b8;
    background-color: lightgrey;
}
</style>
{#<div class="container">#}
{#    <div class="row justify-content-center align-items-center my-auto" >#}
{#        <div class="col-6 offset-4">#}
{#            #}
{#        </div>#}
{#    </div>#}
{#</div>#}
<div class="container my-auto" >
    <div class="loader" id="loader" style="padding-top: 6.4rem;">{% trans "Yuklanmoqda" %}...</div>
    <div id="txt_title" class="row justify-content-center" style="margin-top: 11.85rem;">
        <div class="col-3 text-right">
            <h1>{% trans 'Tizimga kirish' %}</h1>
        </div>
        <div class="col-1">
            <input type="checkbox" id="toggle_checkbox">
            <label for="toggle_checkbox" id="id_label"></label>
        </div>
    </div>
    <div id="login_bar" class="row justify-content-center mt-5">
        <div class="col-6 offset-2" id="login_id">
            <div id="login_by_user" class="login-box" style="height: 38.96rem">
                <div class="login-logo">{% trans 'Parol orqali' %}</div>
                <div class="card" style="height: 60%">
                    <div class="card-body login-card-body my-4">

                      <form action="{% url 'users:login' %}" method="post" style="text-align: center">
                      {% csrf_token %}

                        <div>
                            {{ form.username | as_crispy_field }}
                        </div>
                        <div>
                            {{ form.password | as_crispy_field }}
                            <i style="z-index: 1001; margin-left: 8.25rem; margin-top: -2.58em" id="togglePassword" class="position-absolute fas fa-eye toggle-password"></i>
                        </div>
                        <button id="login_btn" type="submit" class="btn btn-lg btn-info mt-4 w-100 align-bottom">{% trans 'Kirish'%}</button>

                        <div class="row">
                            <input name="next" type="hidden" value="{% url 'main:home' %}"/>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 offset-2" id="imzo_id">
            <div id="e_imzo_id" class="login-box">
                <div class="login-logo">{% trans 'ETSP orqali' %}</div>
                <div class="card w-100">
                    <div class="card-body">
                        <div class="card-title">

                        </div>
                        <form id="login_form" name="testform" method="post">
                            {% csrf_token %}
                            <label id="message"></label>
                            <span style='color:#fff;'>{% trans 'Klyuch tanlash' %}</span> <br/>
                            <div class="form-group">
                                <label for="user"></label>
                                <select id="user" class="form-control" name="key" onchange="cbChanged(this)"></select>
                            </div>
                            <div class="form-group" id="keys"></div>
                            <div class="form-group">
                                <label hidden id="keyId" for="pkcs7"></label>
                                <textarea hidden name="pkcs7" id="pkcs7"></textarea>
                            </div>
                            <button id="imzo_btn" onclick="sign()" type="button" class="btn btn-lg btn-info w-100">{% trans 'Kirish' %}</button>
                        </form>
                    </div>

                </div>


            </div>
        </div>
    </div>

</div>


<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<script src="{% static "plugins/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js" %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'plugins/moment/moment.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script>
    $("#loader").hide();
    imzo_btn = $("#imzo_btn");
    login_btn = $("#login_btn");
    imzo_btn.on('click', function (){
        $("#txt_title").hide();
        $("#login_bar").hide();
        console.log('hided');
        $("#loader").show();
        console.log("showed");
    });
    login_btn.on('click', function (){
        $("#txt_title").hide();
        $("#login_bar").hide();
        console.log('hided');
        $("#loader").show();
        console.log("showed");
    })
</script>
<script>
    $("#imzo_id").hide()
     let check = $("#toggle_checkbox");
     let counter = 0;
     let imzo_div = $("#imzo_id");
     let login_div = $("#login_id");
     let login_type_txt = $("#login_type_txt")
     {#check.on('click', function (){#}
     $(":checkbox").change(function (){
         counter += 1;
         if (counter%2 != 0){
             imzo_div.show({
                 duration: 900,
                 {#direction: left,#}
             });
             login_type_txt.html('ETSP');
             login_div.hide( {
                 duration: 600,
                 {#direction: left#}
             });
             console.log(counter)
         } else {
             imzo_div.hide({
                 duration: 500,
                 {#direction: right,#}
             });
             login_type_txt.html('Parol');
             login_div.show({
                 duration: 400,
                 {#direction: right,#}
             });
             console.log(counter)
         }
     })


     {#if (check.click){#}
     {#   console.log("checked")#}
     {# }#}
</script>
<script>
const togglePassword = document.querySelector('#togglePassword');
const password = document.querySelector('#id_password');

    togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-KMFZ8MHKFC');
</script>
<script>
$(document).ready(() => {
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            let cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                let cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

        window.getCookie = getCookie;
        let csrfToken = window.getCookie('csrftoken');

        function csrfSafeMethod(method) {
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrfToken);
                }
            }
        });

    });

</script>

<script src="{% static 'eimzo/e-imzo.js' %}" type="text/javascript"></script>
<script src="{% static 'eimzo/e-imzo-client.js' %}" type="text/javascript"></script>
</body>
</html>
