{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% trans "Kalit so'z o'zgartirildi"%}</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
</head>
<body class="hold-transition login-page">

{#    {% for message in messages %}#}

{#    {% endfor %}#}


<div class="login-box">
  <div class="login-logo">
      {% trans "Kalit so'z muvvafaqiyatli o'zgartirildi"%}
  </div>
  <div class="card">
    <div class="card-body my-4">
        <div class="row mx-auto text-center">
            <div class="col text-gray">
                <i class="fas fa-key mr-1"></i><a class="link text-gray text-decoration-none" style="font-size: 1.35rem;" href="{% url 'users:login' %}">{% trans "Tizimga kirish"%}</a>
            </div>
            <div class="col text-cyan">
                <i class="fas fa-home mr-1"></i><a class="link text-cyan" style="font-size: 1.35rem;" href="{% url 'main:home' %}">{% trans 'Bosh sahifa'%} </a>
            </div>
        </div>
    </div>
  </div>
</div>


<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
</body>
</html>
