{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% trans "Kalit so'z o'zgartirish"%}</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
    {#    login #}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">#}
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
      <h3>{% trans "Kalit so'zni o'zgartirish"%}</h3>
  </div>
  <div class="card">
    <div class="card-body login-card-body my-4">

      <form action="{% url 'users:password_change' %}" method="post" style="text-align: center">
      {% csrf_token %}

        {{ form.old_password | as_crispy_field }}
        {{ form.new_password1 | as_crispy_field }}
        {{ form.new_password2 | as_crispy_field }}
        <div class="row">
          <div class="mx-auto">
            <button type="submit" class="btn-lg btn-secondary">{% trans 'Saqlash'%}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
{# login parol uchun#}

</body>
</html>
