{#{% extends 'index.html' %}#}
{#{% load static %}#}
{##}
{#{% block content %}#}
{#    {% if images %}#}
{#        {% for image in images %}#}
{#    <form action="{% url 'users:image' %}" method="post" enctype="multipart/form-data">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#    <button>o'zgartirish</button>#}
{#    </form>#}
{#        {% endfor %}#}
{#    {% endif %}#}
{#{% endblock %}#}
{##}
