{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% load main_tags %}

  {% block title %}
  <title>Profile</title>
  {% endblock %}

  {% block links %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  {% endblock %}

{% block page_title %}
    {% trans "Shaxsiy kabinet" %}
{% endblock %}

  <!-- Content Wrapper. Contains page content -->
    {% block breadcrumb %}
    <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'main:home' %}">{% trans 'Home'%}</a></li>
          <li class="breadcrumb-item active">{% trans 'Shaxsiy kabinet'%}</li>
        </ol>
    </div>
    {% endblock %}

    <!-- Main content -->
      {% block content %}
      <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-3">

            <!-- Profile Image -->
            <div class="card card-primary card-outline border-top-0">
              <div class="card-body box-profile">
                <div class="text-center">
                    <i class=""></i>
                    <img class="profile-user-img img-fluid img-circle" style="height: 5.4rem" src="{{ user.image.url }}" alt="user image">
                </div>

                <h3 class="profile-username text-center">{{ user.first_name }} {{ user.last_name }}</h3>
                  <p class="text-center">{{ user.auth_organization }}</p>


                <ul class="list-group list-group-unbordered mb-3">
                  <li class="list-group-item">
                      <b>{% trans "To'lovlar" %}</b> <a class="float-right">{{ membership_fees_count }}</a>
                  </li>
                  <li class="list-group-item">
                    <b>{% trans "Haqdorlik" %}</b> <a class="float-right">{{ over_payment_count }}</a>
                  </li>
                  <li class="list-group-item">
                    <b>{% trans "Qarzdorlik" %}</b> <a class="float-right">{{ debts_count }}</a>
                  </li>
                </ul>
              </div>
              <div class="card-footer">
                  <div class="col"><a href="{% url 'users:password_change' %}">{% trans "Parolni o'zgartirish"%}</a></div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>

          <!-- /.col -->
          <div class="col-md-9">
            <div class="card">
              <div class="card-header p-2">
                  <h5 class="mb-0 ml-3">{% trans 'Status'%}: <span data-toggle="tooltip" data-placement="right" title="Tizimdagi sizning rolingiz {{ user.role }}.">{{ user.role }}</span></h5>
              </div><!-- /.card-header -->
              <div class="card-body w-100">
                {% for main_info in main_infos %}

                <div class="row mx-auto w-100 align-items-center">

                    <div class="col">
{#                        <span class="" style="font-size: 2rem">{{ main_info.organization.inter_organization }}</span><span class="float-right pt-3">{{ main_info.joined_date }}</span>#}
                        <h4>
                            {% if LANGUAGE_CODE == 'uz' %}
                            O'zbekiston Respublikasi {{ main_info.organization.inter_organization.name_uz }} tashkilotiga {{ main_info.joined_date }}da a'zo bo'lgan.
                        {% elif LANGUAGE_CODE == 'ru' %}
                            Республика Узбекистан стала членом {{ main_info.organization.inter_organization.name_ru }} {{ main_info.joined_date }}.
                        {% elif LANGUAGE_CODE == 'en' %}
                            Ўзбекистон Республикаси {{ main_info.organization.inter_organization.name_en }} ташкилотига {{ main_info.joined_date.year }}-йил, {{ main_info.joined_date.day }}-{% month_in_cyrillic main_info.joined_date.month %}да аъзо бўлган.
                        {% endif %}
                        </h4>
                        <p class="w-100 p-2">
                            {% if LANGUAGE_CODE == 'uz' %}
                                {{ main_info.description_uz }}
                            {% elif LANGUAGE_CODE == 'ru' %}
                                {{ main_info.description_ru }}
                            {% elif LANGUAGE_CODE == 'en' %}
                                {{ main_info.description_en }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-3">
                        <img style="height: 10rem" src="{{ main_info.img.url }}" alt="img">
                    </div>

                </div>
                <div class="row mx-auto w-100 justify-content-between mt-3 align-items-center">
                    <div class="col p-2 bg-gray-light">
                        <p class="m-0">
                            {% if LANGUAGE_CODE == 'uz' %}
                                {{ main_info.meeting_text_uz }}
                            {% elif LANGUAGE_CODE == 'ru' %}
                                {{ main_info.meeting_text_ru }}
                            {% elif LANGUAGE_CODE == 'en' %}
                                {{ main_info.meeting_text_en }}
                            {% endif %}
                        </p>
                        <p class="text-bold p-0 m-0 mt-2">
                            Sanasi: {% if LANGUAGE_CODE == 'en' %}
                            {{ main_info.meeting_date.year }}-yil {{ main_info.meeting_date.day }}-{% month_in_cyrillic main_info.meeting_date.month %}
                            {% else %}
                            {{ info.meeting_date }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-3">
                        <p class="mb-1">{% trans "O'zbekistondagi vakolatxonasi" %}</p>
                        <p class="m-0">
                            <b>{% trans "Manzil" %}:</b>
                            <i style="font-size: .97rem">
                                {% if LANGUAGE_CODE == 'uz' %}
                                    {{ main_info.inter_org_address_uz }}
                                {% elif LANGUAGE_CODE == 'ru' %}
                                    {{ main_info.inter_org_address_ru }}
                                {% elif LANGUAGE_CODE == 'en' %}
                                    {{ main_info.inter_org_address_en }}
                                {% endif %}
                            </i>
                        </p>
                        <p class="m-0"><b>{% trans "Telefon raqam" %}:</b> <i style="font-size: .97rem">{{ main_info.inter_org_tel }}</i></p>
                    </div>
                </div>
                {% endfor %}

              </div>
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
      {% endblock %}


{% block script %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
{% endblock %}
