{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% trans 'Regsitration'%}</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="{% static 'plugins/icheck-bootstrap/icheck-bootstrap.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/select2/css/select2.min.css' %}">
</head>
<style>
    .select2-container .select2-selection--single {
        height: 38px !important;
    }
</style>
<body class="hold-transition register-page">
<div class="register-box my-5">
  <div class="register-logo">
    <a href="{% url 'main:home' %}">{% trans "A'zolik badali"%}</a>
  </div>

  <div class="card my-5">
    <div class="card-body">
      <p class="login-box-msg">{% trans "Foydalanuvchi qo'shish"%}</p>

      <form action="{% url 'users:register' %}" method="post">
          {% csrf_token %}
{#        <div class="input-group mb-3">#}
          {{ forms.username | as_crispy_field }}
{#        </div>#}
{#        <div class="input-group mb-3">#}
          {{ forms.email | as_crispy_field }}
{#        </div>#}
{#        <div class="input-group mb-3">#}
          {{ forms.password1 | as_crispy_field }}
{#        </div>#}
{#        <div class="input-group mb-3">#}
          {{ forms.password2 | as_crispy_field }}
{#        </div>#}
{#        <div class="input-group mb-3">#}
          {{ forms.auth_organization | as_crispy_field }}
{#        </div>#}
{#        <div class="input-group mb-3">#}
          {{ forms.role | as_crispy_field }}
{#        </div>#}
        <div class="row justify-content-center">
          <div class="col-4">
            <button type="submit" class="btn btn-secondary btn-block">{% trans 'Register'%}</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
    </div>
    <!-- /.form-box -->
  </div><!-- /.card -->
</div>
<!-- /.register-box -->

<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<script src="{% static 'plugins/select2/js/select2.min.js' %}"></script>
<script>
    $(document).ready(function(){
        $('#id_auth_organization').select2({
            placeholder: 'Moliya',
            allowClear: true,
        });
    })
</script>
</body>
</html>
