{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}<title>{% trans "Create organizations"%}</title>{% endblock %}

{% block links %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
{% endblock %}





{% block page_title %}
{% trans "Tashkilot qo'shish"%}
{% endblock %}

{% block breadcrumb %}
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="{% url 'main:home' %}">{% trans 'Bosh sahifa'%}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'organizations:currencies' %}">{% trans 'Pul birliklari'%}</a></li>
      <li class="breadcrumb-item active">{% trans "Qo'shish"%}</li>
    </ol>
</div>
{% endblock %}


    <!-- Main content -->
    {% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-12 mx-auto" style="max-width: 96%">
            <!-- Input addon -->
            <div class="card mt-2">
              <div class="card-header" style="background-color: #0d8ccb">
                <h3 class="card-title">{% trans "Tashkilot ma'lumotlarini kiriting"%}</h3>
              </div>
              <div class="card-body">

                <form action="{% url 'organizations:currency_create' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            {{ form.name_uz | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.name_ru | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.name_en | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.sign | as_crispy_field }}
                        </div>
                        <div class="col">
                            {{ form.abbr | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row justify-content-end mt-3">
                        <button type="submit" class="btn-lg btn-info mr-2">{% trans 'Saqlash'%}</button>
                    </div>
                </form>


              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}


{% block script %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- bs-custom-file-input -->
<script src="{% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- Page specific script -->
<script>
$(function () {
  bsCustomFileInput.init();
});
</script>
<script src="{% static 'imask/http_unpkg.com_imask.js' %}"></script>
<script>
    let element = document.getElementById('org_phone_id');
    let maskOptions = {
        mask: '+998(00) 000-00-00',
        {#lazy: false,#}
    };
    let mask = new IMask(element, maskOptions);
</script>

{% endblock %}

