{% extends 'index.html' %}
{% load i18n %}
{% load static %}

{% block title %}<title>{% trans 'Currencies'%}</title>{% endblock %}

  {% block links %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  {% endblock %}

{% block page_title %}
{% trans 'Pul birliklari'%}
{% endblock %}
  {% block breadcrumb %}
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="{% url 'main:home' %}">{% trans 'Bosh sahifa'%}</a></li>
      <li class="breadcrumb-item active">{% trans 'Pul birliklari'%}</li>
    </ol>
  </div>
  {% endblock %}


    <!-- Main content -->
    {% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row mt-2">
          <div class="col-4">
              <div class="card" style="height: 97.348%">
                  <div class="card-header" style="background-color: #0d8ccb">
                      <h3 class="card-title text-white">{% trans 'Kalkulyator' %}</h3>
                  </div>
                  <div class="card-body">
                      <div class="w-75 mx-auto">
                          <div class="row align-items-center justify-content-around">
                              <div class="col-4">
                                  <img style="width: 30px; height: 30px" src="{% static 'images/cbuz.png' %}" alt="cb"><input id="cb" class="ml-3" type="checkbox" checked disabled>
                              </div>
                              <div class="col-4">
                                  <img style="width: 50px; height: 20px" src="{% static 'images/birja.png' %}" alt="birja"><input id="birja" class="ml-3" type="checkbox">
                              </div>
                          </div>
                          <div class="mt-3">
                              <label for="pul_birliklari" class="mt-3">{% trans "Pul birligini tanlang" %}</label>
                              <select class="custom-select" name="valyuta" id="cb_select">
                                  <option value="USD">USD</option>
                                  <option value="EUR">EUR</option>
                                  <option value="RUB">RUB</option>
                                  <option value="CAD">CAD</option>
                                  <option value="CHF">CHF</option>
                              </select>
{#                              <select class="custom-select" name="valyuta" id="birja_select">#}
{#                                  <option>USD</option>#}
{#                                  <option>EUR</option>#}
{#                              </select>#}
                              <label for="current_amount" class="mt-3">{% trans "Joriy kurs" %}</label>
                              <input class="form-control" disabled id="current_amount" type="text">
                              <label class="mt-4" for="input_amount">{% trans "Pul miqdorini kiriting" %}</label>
                              <input class="form-control" id="input_amount" type="text">
                              <label class="mt-3" for="result">{% trans "NATIJA" %}:</label>
                              <input class="form-control form-control-lg" type="text" disabled id="result">
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-8">
            <div class="card">
              <div class="card-header" style="background-color: #0d8ccb">
                <h3 class="card-title text-white">{% trans "To'lov amalga oshiriladigan pul birliklari ro'yxati"%}</h3>
              </div>
              <div class="card-body">
                <table id="example1" class="table table-hover text-center">
                  <thead>
                  <tr>
                    <th>{% trans "T/r" %}</th>
                    <th>{% trans 'Nomi'%}</th>
                    <th>{% trans 'Belgi'%}</th>
                    <th>{% trans 'Abbr'%}</th>
                      <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for o in objects %}
                  <tr>
                    <td>{{ o.id }}</td>
                    {% if LANGUAGE_CODE == 'uz' %}
                    <td>{{ o.name_uz }}</td>
                    {% elif LANGUAGE_CODE == 'ru' %}
                    <td>{{ o.name_ru }}</td>
                    {% elif LANGUAGE_CODE == 'en' %}
                    <td>{{ o.name_en }}</td>
                    {% endif %}
                    <td>{{ o.sign }}</td>
                    <td>{{ o.abbr }}</td>
                    <td style="width: 2rem;" class="text-righ">
                        <div style="width: 2.25rem;" class="dropdown ml-auto">
                            <a class="btn btn-sm btn-icon-only text-light"
                               href="#" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v text-dark"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                {% if user.role == 'Admin' %}
                                <a class="dropdown-item text-navy"
                                   href="{% url 'organizations:currency_update' o.id %}"><i class="fas fa-edit text-left"></i><span class="ml-3">{% trans "O'zgartirish" %}</span>
                                </a>
                                <a class="dropdown-item text-danger"
                                   href="{% url 'organizations:currency_delete' o.id %}"><i class="fas fa-trash text-left"></i><span class="ml-3">{% trans "O'chirish" %}</span>
                                </a>
                                {% endif %}
                                <a class="dropdown-item text-info"
                                   href="{% url 'organizations:currency_detail' o.id %}"><i class="fas fa-eye text-left"></i><span class="ml-3">{% trans "Ko'rish" %}</span>
                                </a>
                            </div>
                        </div>
                    </td>

                  </tr>
                  {% endfor %}

                  </tbody>
                </table>
                {% if user.role == "Admin" %}
                <div class="row justify-content-start mt-n3">
                  <div class="col-4 mt-n3">
                      <a href="{% url 'organizations:currency_create' %}" class="btn-lg btn-info">{% trans "Qo'shish"%}</a>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}



{% block script %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "info": false,
      "paging": 10,
      "responsive": true,
      "lengthChange": false,
      "autoWidth": false,
      "buttons": [
              {
                  extend: "excel",
                  className: 'btn btn-info',
                  exportOptions: {
                      columns: 'th:not(:last-child)'
                  }
              },
              {
                  extend: "pdf",
                  className: 'btn btn-info',
                  exportOptions: {
                      columns: 'th:not(:last-child)'
                  }
              },
              {
                  extend: "colvis",
                  className: 'btn btn-info'
              }
          ],
      "language": {
          "buttons": {
              "colvis": "{% trans "Ustun ko'rinishi"%}",
          },
          "paginate": {
              "previous": "{% trans "Avvalgi" %}",
              "next": "{% trans "Keyingi" %}",
          },
          "search": "{% trans 'Izlash'%}",
      },
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  });
</script>
<script>
$(document).ready(function (){
    function data(data_type, currency_name){
        $.ajax({
            url: '/uz/main/calculator/',
            {#type: 'post',#}
            data: {
                'type':data_type,
                'name': currency_name
                {#'csrfmiddlewaretoken': {% csrf_token %}#}
            },
            dataType: 'json',
            success: function (data){
                $("#current_amount").val(data['price']);
            },
            fail: function (data){
                if (data){
                    console.log(data);
                    console.log('failure')
                }
            }
        })
        {#$.post('/main/calculator/', {item_data:data_type})#}
        {#    .done((response) => {#}
        {#        console.log(response)#}
        {#    }).fail((fail_response) => {#}
        {#        console.log(fail_response);#}
        {#        console.log('failed');#}
        {#    })#}
    }


    $("#birja_select").hide();
    let cb_check = $("#cb");
    let birja_check = $("#birja");
    let cb_options = $("#cb_select");
    let current_amount = $("#current_amount");
    let input_amount = $("#input_amount");
    let result = $("#result");
    let data_type = 'cb';

    birja_check.on('click', function (){
        if (birja_check.prop('checked') == true){
            $("#cb_select option[value='RUB']").hide();
            $("#cb_select option[value='CAD']").hide();
            $("#cb_select option[value='CHF']").hide();
            cb_check.prop('checked', false);
            {#whatever = data('birja').data;#}
            data_type = 'birja';
            console.log('checked');
        } else if (birja_check.prop('checked') == false) {
            $("#cb_select option[value='RUB']").show();
            $("#cb_select option[value='CAD']").show();
            $("#cb_select option[value='CHF']").show();
            {#console.log($("#cb_options option[value='RUB']").val();#}
            cb_check.prop('checked', true);
            data_type = 'cb';
            console.log('not checked');
            {#whatever = data('cb');#}
        }
    });

    cb_options.on('change', function (){
        let currency_name = $("#cb_select").find(':selected').text();
        if (birja_check.prop('checked') == true){
            data_type = 'birja';
        } else if (birja_check.prop('checked') == true){
            data_type = 'cb';
        }
        console.log(data_type);
        console.log(data(data_type, currency_name))
    });

    result.val(0)
    input_amount.keyup(function (){
        console.log(input_amount.val());
        console.log(current_amount.val())
        let r = 0;
        if (input_amount.val()){
            r = parseFloat(current_amount.val())*parseInt($("#input_amount").val());
        }
        result.val(r.toFixed(2));
        console.log(r)
    })

})
</script>
{% endblock %}

