{% extends 'index.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}<title>Delete organizations</title>{% endblock %}

{% block links %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
{% endblock %}





{% block page_title %}
{% trans 'Haqdorlik'%}
{% endblock %}

{% block breadcrumb %}
<div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="{% url 'main:home' %}">{% trans 'Bosh sahifa'%}</a></li>
      <li class="breadcrumb-item"><a href="{% url 'organizations:over_payments_list' year %}">{% trans 'Haqdorlik'%}-{{ year }}</a></li>
      <li class="breadcrumb-item active">{% trans "O'chirish"%}</li>
    </ol>
</div>
{% endblock %}


    <!-- Main content -->
    {% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-12 mx-auto" style="width: 96%">
            <!-- Input addon -->
            <div class="card mt-2">
              <div class="card-header" style="background-color: #0d8ccb">
                <h3 class="card-title">{% trans "Haqdorlikni o'chirish"%}</h3>
              </div>
              <div class="card-body">

                <form action="{% url 'organizations:over_payment_delete' year object.id %}" method="post">
                    {% csrf_token %}
                    <table id="example1" class="table table-bordered table-hover text-center">
                      <thead class="bg-gray-light">
                      <tr>
                        <th>T/r</th>
                        <th>{% trans 'Vakolatli tashkilot'%}</th>
                        <th>{% trans 'Xalqaro tashkilot'%}</th>
                        <th>{% trans 'Yil boshidagi haqdorlik'%}</th>
                        <th>{% trans 'Yil oxiridagi haqdorlik'%}</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr>
                        <td>{{ object.id }}</td>
                        <td>{{ object.auth_organizations }}</td>
                        <td>{{ object.inter_organization }}</td>
                        <td>{{ object.initial_amount }}</td>
                        <td>{{ object.final_amount }}</td>
                      </tr>
                      </tbody>
                    </table>
                    <div class="row ml-2 mt-3">
                        <button id="delete_btn" type="submit" class="btn-lg  btn-danger" onclick="return confirm('Buyruqni tasdiqlaysizmi?')"><i class="fas fa-trash"></i></button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
{% block script %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- bs-custom-file-input -->
<script src="{% static 'plugins/bs-custom-file-input/bs-custom-file-input.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- Page specific script -->
{% endblock %}

