{% extends 'index.html' %}
{% load i18n %}
{% load static %}

{% block title %}<title>Local organizations</title>{% endblock %}

  {% block links %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">

  {% endblock %}

{% block page_title %}
{% trans 'Vakolatli tashkilotlar'%}
{% endblock %}

{% block breadcrumb %}
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="{% url 'main:home' %}">{% trans 'Bosh sahifa' %}</a></li>
      <li class="breadcrumb-item active">{% trans 'Vakolatli tashkilotlar' %}</li>
    </ol>
  </div>
{% endblock %}



    {% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card mt-2">
              <div class="card-header" style="background-color: #0d8ccb">
{#                <h3 class="card-title">{%  trans "Vakolatli tashkilotlar ro'yxati" %}</h3>#}
              </div>
              <div class="card-body">
                <table id="example1" class="table table-hover text-center" style="border-bottom: solid #dee2e6 1px;">
                  <thead class="bg-gray-light">
                  <tr>
                    <th>{% trans "T/r" %}</th>
                    <th>{% trans 'Tashkilot nomi' %}</th>
                    <th>{% trans 'Manzil' %}</th>
                    <th>{% trans 'Elektron pochta'%}</th>
                    <th>{% trans 'Telefon raqam'%}</th>
                    <th>{% trans 'Bosh hisobchi'%}</th>
                    <th>{% trans "Xalqaro bo'lim hodimi"%}</th>

                      <th></th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for object in object_list %}
                  <tr>
                    <td>{{ object.id }}</td>
                    {% if LANGUAGE_CODE == 'uz' %}
                    <td>{{ object.name_uz }}</td>
 		            <td>{{ object.address_uz }}</td>
                    {% elif LANGUAGE_CODE == 'ru' %}
                    <td>{{ object.name_ru }}</td>
 		            <td>{{ object.address_ru }}</td>
                    {% elif LANGUAGE_CODE == 'en' %}
                    <td>{{ object.name_en }}</td>
 		            <td>{{ object.address_en }}</td>
                    {% endif %}
                    <td>{{ object.email }}</td>
                    <td>{{ object.phone_number }}</td>
                    <td>
                        {{ object.chief_accountant }}
                        <p><span class="mr-1">Tel:</span>{{ object.chief_accountant_phone }}</p>
                    </td>
                    <td>
                        {{ object.international_department_staff }}
                        <p><span class="mr-1">Tel:</span>{{ object.inter_dp_phone }}</p>
                    </td>
                    <td class="text-center">
                        <div class="dropdown ml-auto">
                            <a class="btn btn-sm btn-icon-only text-light"
                               href="#" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-ellipsis-v text-dark"></i>
                            </a>
                            <div class="row dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                {% if user.role == 'Admin' %}
                                <a class="dropdown-item text-navy" href="{% url 'organizations:auth_update' object.id %}"><i class="fas fa-edit text-left"></i><span class="ml-3">{% trans "O'zgartirish" %}</span></a>
                                <a class="dropdown-item text-danger" href="{% url 'organizations:auth_delete' object.id %}"><i class="fas fa-trash text-left"></i><span class="ml-3">{% trans "O'chirish" %}</span></a>
				                {% elif object.id == user.auth_organization.id %}
                                <a class="dropdown-item text-navy" href="{% url 'organizations:auth_update' object.id %}"><i class="fas fa-edit text-left"></i><span class="ml-3">{% trans "O'zgartirish" %}</span></a>
				                {% endif %}
                                <a class="dropdown-item text-info" href="{% url 'organizations:auth_detail' object.id %}"><i class="fas fa-eye text-left"></i><span class="ml-3">{% trans "Ko'rish" %}</span></a>
                            </div>
                        </div>
                    </td>
                  </tr>
                  {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                  </tfoot>
                </table>
                {% if user.role == "Admin" %}
                <div class="row justify-content-start mt-n3">
                  <div class="col-4 mt-n3">
                      <a href="{% url 'organizations:auth_create' %}" class="btn-lg btn-info">{% trans "Qo'shish"%}</a>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}



{% block script %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- Page specific script -->
<script>
  {#let col = {% trans "Ustun ko'rinishi" %};#}
  $(function () {
    $("#example1").DataTable({
      "info": false,
      "paging": 10,
      "responsive": true,
      "lengthChange": false,
      "autoWidth": false,
      "buttons": [
              {
                  extend: "excel",
                  className: 'btn btn-info',
                  exportOptions: {
                      columns: 'th:not(:last-child)'
                  }
              },
              {
                  extend: "pdf",
                  orientation: "landscape",
                  pageSize: "LEGAL",
                  className: 'btn btn-info',
                  exportOptions: {
                      columns: 'th:not(:last-child)'
                  }
              },
              {
                  extend: "colvis",
                  className: 'btn btn-info'
              }
          ],
      "language": {
          "buttons": {
              "colvis": "{% trans "Ustun ko'rinishi"%}",
          },
          "paginate": {
              "previous": "{% trans "Avvalgi" %}",
              "next": "{% trans "Keyingi" %}",
          },
          "search": "{% trans 'Izlash'%}",
      },
      'initComplete': function(){

          //COLUMN 1
          this.api().columns(1).every(function () {
              var column = this;
              var select = $('<select class="form-control" id="before_change"><option value=""></option></select>')
                  .appendTo($(column.footer()).empty())
                  .on('change', function () {
                      $("#before_change").css("background-color", "#b1e8d67d")
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );

                      column
                          .search(val ? '^' + val + '$' : '', true, false)
                          .draw();
                  });

              column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option> ')
              });
          });
          this.api().columns(2).every(function () {
              var column = this;
              var select = $('<select class="form-control" id="before_change"><option value=""></option></select>')
                  .appendTo($(column.footer()).empty())
                  .on('change', function () {
                      $("#before_change").css("background-color", "#b1e8d67d")
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );

                      column
                          .search(val ? '^' + val + '$' : '', true, false)
                          .draw();
                  });

              column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option> ')
              });
          });
          this.api().columns(3).every(function () {
              var column = this;
              var select = $('<select class="form-control" id="before_change"><option value=""></option></select>')
                  .appendTo($(column.footer()).empty())
                  .on('change', function () {
                      $("#before_change").css("background-color", "#b1e8d67d")
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );

                      column
                          .search(val ? '^' + val + '$' : '', true, false)
                          .draw();
                  });

              column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option> ')
              });
          });
          this.api().columns(4).every(function () {
              var column = this;
              var select = $('<select class="form-control" id="before_change"><option value=""></option></select>')
                  .appendTo($(column.footer()).empty())
                  .on('change', function () {
                      $("#before_change").css("background-color", "#b1e8d67d")
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );

                      column
                          .search(val ? '^' + val + '$' : '', true, false)
                          .draw();
                  });

              column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '">' + d + '</option> ')
              });
          });
          this.api().columns(5).every(function () {
              var column = this;
              var select = $('<select class="form-control" id="before_change"><option value=""></option></select>')
                  .appendTo($(column.footer()).empty())
                  .on('change', function () {
                      $("#before_change").css("background-color", "#b1e8d67d")
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );

                      column
                          .search(val ? '^' + val + '$' : '', true, false)
                          .draw();
                  });

              column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '</option> ')
              });
          });
          this.api().columns(6).every(function () {
              var column = this;
              var select = $('<select class="form-control" id="before_change"><option value=""></option></select>')
                  .appendTo($(column.footer()).empty())
                  .on('change', function () {
                      $("#before_change").css("background-color", "#b1e8d67d")
                      var val = $.fn.dataTable.util.escapeRegex(
                          $(this).val()
                      );

                      column
                          .search(val ? '^' + val + '$' : '', true, false)
                          .draw();
                  });

              column.data().unique().sort().each(function (d, j) {
                  select.append('<option value="' + d + '</option> ')
              });
          });
        }
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": false,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
{% endblock %}

