{% extends 'index.html' %}
{% load i18n %}
{% load static %}

{% block title %}<title>{% trans 'Local organizations'%}</title>{% endblock %}

  {% block links %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
  <!-- DataTables -->
  <link rel="stylesheet" href="{% static 'plugins/datatables-bs4/css/dataTables.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-responsive/css/responsive.bootstrap4.min.css' %}">
  <link rel="stylesheet" href="{% static 'plugins/datatables-buttons/css/buttons.bootstrap4.min.css' %}">
  <!-- Theme style -->
  <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
  {% endblock %}

{% block page_title %}
{% trans "Mas'ul tashkilot"%}
{% endblock %}
  {% block breadcrumb %}
  <div class="col-sm-6">
    <ol class="breadcrumb float-sm-right">
      <li class="breadcrumb-item"><a href="{% url 'main:home' %}">{% trans 'Home'%}</a></li>
      <li class="breadcrumb-item active">{% trans "Mas'ul tashkilot" %}</li>
    </ol>
  </div>
  {% endblock %}


    <!-- Main content -->
    {% block content %}
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card mt-2">
              <div class="card-header" style="background-color: #0d8ccb">
                <h2 class="card-title">{{ object.name_uz }}</h2>
              </div>
              <div class="card-body">
                <table id="example1" class="table table-bordered table-hover text-center">
                  <thead class="bg-gray-light">
                  <tr>
                      <td>{% trans "T/r" %}</td>
                    <th>{% trans 'Nomi' %}</th>
                    <th>{% trans 'Manzil' %}</th>
                    <th>{% trans 'Elektron pochta' %}</th>
                    <th>{% trans 'Telefon raqam' %}</th>
                    <th>{% trans 'Bosh hisobchi' %}</th>
                    <th>{% trans "Xalqaro bo'lim hodimi" %}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>{{ object.id }}</td>
                    {% if LANGUAGE_CODE == 'uz' %}
                    <td>{{ object.name_uz }}</td>
 		            <td>{{ object.address_uz }}</td>
                    {% elif LANGUAGE_CODE == 'ru' %}
                    <td>{{ object.name_ru }}</td>
 		            <td>{{ object.address_ru }}</td>
                    {% elif LANGUAGE_CODE == 'en' %}
                    <td>{{ object.name_en }}</td>
 		            <td>{{ object.address_en }}</td>
                    {% endif %}
                    <td>{{ object.email }}</td>
                    <td>{{ object.phone_number }}</td>
                    <td>
                        {{ object.chief_accountant }}
                        <p><span class="mr-1">Tel:</span>{{ object.chief_accountant_phone }}</p>
                    </td>
                    <td>
                        {{ object.international_department_staff }}
                        <p><span class="mr-1">{% trans 'Tel'%}:</span>{{ object.inter_dp_phone }}</p>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="row justify-content-start mb-3 mt-n3">
                  <div class="col-1 btn-group" style="margin-left: 20px;">
                      <a href="{% url 'organizations:auth_orgs' %}"  class="btn btn-outline-info"><i class="fas fa-angle-double-left"></i></a>
                      {% if user.role == 'Admin' or object.id == user.auth_organization.id %}
                      <a href="{% url 'organizations:auth_update' object.id %}?from=auth_detail"  class="btn btn-outline-info"><i class="fas fa-edit"></i></a>
                      <a href="{% url 'organizations:auth_delete' object.id %}?from=auth_detail"  class="btn btn-outline-info"><i class="fas fa-trash"></i></a>
                      {% endif %}
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}



{% block script %}
<!-- jQuery -->
<script src="{% static 'plugins/jquery/jquery.min.js' %}"></script>
<!-- Bootstrap 4 -->
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<!-- DataTables  & Plugins -->
<script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'plugins/datatables-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'plugins/datatables-responsive/js/responsive.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'plugins/jszip/jszip.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/pdfmake.min.js' %}"></script>
<script src="{% static 'plugins/pdfmake/vfs_fonts.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'plugins/datatables-buttons/js/buttons.colVis.min.js' %}"></script>
<!-- AdminLTE App -->
<script src="{% static 'dist/js/adminlte.min.js' %}"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static 'dist/js/demo.js' %}"></script>
<!-- Page specific script -->
{% endblock %}

